<template>
  <div class="equipes">
    <v-container fluid fill-height>
      <v-layout>
        <v-flex>
          <MinhasEquipes/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import MinhasEquipes from '../views/childs/MinhasEquipes'

export default {
  name: 'Equipes',
  data() {
    return {}
  },

  components: { MinhasEquipes },

  methods: {}
}
</script>
