<template>
  <div class="galhos">
    <v-container fluid fill-height>
      <v-layout>
        <v-flex>
          <MeusGalhos/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import MeusGalhos from '../views/childs/MeusGalhos'

export default {
  name: 'Galhos',
  data() {
    return {}
  },

  components: {
    MeusGalhos
  },

  methods: {}
}
</script>
