<template>
  <div class="home">
    <v-container>
      <v-layout fill-height>
        <v-flex>
          <Dashboard/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Dashboard from '../views/childs/Dashboard'
import MeusConvites from '../views/childs/MeusConvites'

export default {
  name: 'Home',
  data() {
    return {
      tab: 0
    }
  },

  components: {
    Dashboard,
    MeusConvites
  },

  methods: {},

  beforeMount() {
    if (window.$cookies.isKey('USERTOKEN')) {
      if (window.$cookie.get('USERTOKEN') != '') {
        this.$store.dispatch('user/getMyUser')
      } else {
        window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
      }
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
