<template>
  <div class="lagos">
    <v-container fluid fill-height>
      <v-layout>
        <v-flex>
          <MeusLagos/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import MeusLagos from '../views/childs/MeusLagos.vue'

export default {
  name: 'Lagos',
  data() {
    return {}
  },

  components: { MeusLagos },

  methods: {}
}
</script>
