<template>
  <div class="lagos">
    <v-container fluid fill-height>
      <v-layout>
        <v-flex>
          <v-toolbar flat color="#fafafa">
            <v-tabs grow color="#fafafa" slider-color="primary" v-model="supTab"></v-tabs>
          </v-toolbar>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid fill-height>
      <v-layout>
        <v-flex>
          <v-tabs-items v-model="supTab">
            <v-tab-item>
              <MeusTickets/>
            </v-tab-item>
            <v-tab-item>
              <Ticket/>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import MeusTickets from '../views/childs/MeusTicket.vue'
import Ticket from '../views/childs/Ticket.vue'

export default {
  name: 'Lagos',
  data() {
    return {}
  },

  components: { MeusTickets, Ticket },

  methods: {},

  computed: {
    ...mapGetters({
      supTab: 'tabs/supTab'
    })
  }
}
</script>
