<template>
  <div class="teste">
    <v-layout>{{ teste }}</v-layout>
  </div>
</template>

<script>
export default {
  components: {},
  name: 'Teste',
  data() {
    return {
      teste: ''
    }
  },

  watch: {},

  created() {},

  methods: {},

  beforeMount() {}
}
</script>
