<template>
  <div class="usuario">
    <v-container fluid fill-height>
      <v-layout>
        <v-flex>
          <v-toolbar flat color="#fafafa">
            <v-tabs grow color="#fafafa" slider-color="primary" v-model="tab">
              <v-tab>Meu Perfil</v-tab>
              <v-tab>Telefones e Endereços</v-tab>
              <v-tab>Financeiro</v-tab>
              <v-tab>Histórico de Crédito</v-tab>
              <v-tab>Convites</v-tab>
            </v-tabs>
          </v-toolbar>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid fill-height>
      <v-layout>
        <v-flex>
          <v-tabs-items v-model="tab">
            <v-tab-item>
              <MeuPerfil/>
            </v-tab-item>
            <v-tab-item>
              <TelefonesEnderecos/>
            </v-tab-item>
            <v-tab-item>
              <Financeiro/>
            </v-tab-item>
            <v-tab-item>
              <HistoricoCarteira/>
            </v-tab-item>
            <v-tab-item>
              <MeusConvites/>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import MeuPerfil from '../views/childs/MeuPerfil'
import TelefonesEnderecos from '../views/childs/TelefonesEnderecos'
import HistoricoCarteira from '../views/childs/HistoricoCarteira'
import Financeiro from '../views/childs/Financeiro'
import MeusConvites from '../views/childs/MeusConvites'

export default {
  name: 'Usuario',
  data() {
    return {
      tab: 0
    }
  },

  components: {
    MeuPerfil,
    TelefonesEnderecos,
    HistoricoCarteira,
    Financeiro,
    MeusConvites
  },

  methods: {}
}
</script>
