<template>
  <v-app id="inspire">
    <div id="alerts"/>

    <v-layout row justify-center>
      <v-dialog
        transition="false"
        v-model="loading"
        persistent
        fullscreen
        content-class="loading-dialog"
      >
        <v-container fluid pa-0 fill-height style="background: rgba(202, 202, 202, 0.8);">
          <v-layout row justify-center align-center>
            <fingerprint-spinner :animation-duration="1500" :size="128" :color="progressColor"/>
          </v-layout>
        </v-container>
      </v-dialog>
    </v-layout>

    <v-navigation-drawer v-model="drawer" fixed app>
      <v-list class="pt-5 pb-5">
        <v-layout row>
          <v-flex xs12 sm6 offset-sm3>
            <v-img :src="require('./assets/logo.png')"></v-img>
          </v-flex>
        </v-layout>
      </v-list>
      <v-list class="pt-0">
        <v-list-tile v-for="item in items" :key="item.title" @click="routeTo(item.router)">
          <v-list-tile-action>
            <v-icon class="primary--text">{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title class="body-2 primary--text font-weight-bold">
              {{
              item.title
              }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar flat app fixed color="#fafafa" class="hidden-sm-and-down">
      <v-spacer></v-spacer>

      <v-btn icon class="mr-3" @click="routeTo('/usuario')">
        <v-avatar size="30" color="grey lighten-4">
          <v-img :src="'https://www.gravatar.com/avatar/' + user.gravatar + '?d=mp'" alt="avatar"/>
        </v-avatar>
      </v-btn>

      <!--<v-btn icon class="mr-3" hidden>
        <v-badge overlap color="red">
          <span slot="badge" class="caption">!</span>
          <v-icon>notifications</v-icon>
        </v-badge>
      </v-btn>-->
      <v-btn icon @click="logout()">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>

    <v-content style="height: 100%;">
      <v-container>
        <v-layout align-start justify-center row fill-height>
          <v-flex>
            <router-view/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import Swal from 'sweetalert2'
import { FingerprintSpinner } from 'epic-spinners'

export default {
  name: 'App',
  data() {
    return {
      drawer: true,
      items: [
        { title: 'Home', icon: 'home', router: '/' },
        { title: 'Usuario', icon: 'account_circle', router: '/usuario' },
        { title: 'Equipes', icon: 'group', router: '/equipes' },
        { title: 'Twigs', icon: 'share', router: '/galhos' },
        { title: 'Lakes', icon: 'waves', router: '/lagos' },
        { title: 'Suporte', icon: 'contact_support', router: '/suporte' }
      ],
      right: null,
      saldo: '',
      progressColor: '#3a6182'
    }
  },

  computed: {
    ...mapGetters({
      user: 'user/user',
      error: 'message/error',
      success: 'message/success',
      loading: 'loading/loading'
    })
  },

  components: { FingerprintSpinner },

  methods: {
    routeTo(route) {
      this.$router.push(route)
    },
    logout() {
      window.$cookies.remove('USERTOKEN')
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  },

  beforeMount() {
    if (window.$cookies.isKey('USERTOKEN')) {
      if (window.$cookies.get('USERTOKEN') != '') {
        this.$store.dispatch('user/getMyUser')
      } else {
        window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
      }
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  },

  watch: {
    error(err) {
      if (Object.entries(err).length > 0) {
        Swal.fire({
          toast: true,
          position: 'top',
          showConfirmButton: false,
          timer: 3000,
          type: 'error',
          title: 'Ooops!',
          text: err.message
        })
      }
    },

    success(succ) {
      if (Object.entries(succ).length > 0) {
        Swal.fire({
          toast: true,
          position: 'top',
          showConfirmButton: false,
          timer: 3000,
          type: 'success',
          title: 'Sucesso!',
          text: succ.message
        })
      }
    }
  }
}
</script>
