<template>
  <div class="dashboard">
    <v-container fluid grid-list-md>
      <v-layout align-start justify-center row fill-height>
        <v-flex xs4>
          <v-card flat class="card-dash is-blue">
            <v-container fill-height fluid pa-2>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <v-container>
                    <v-layout fill-height xs12>
                      <v-flex>
                        <span class="white--text title">Saldo Disponível</span>
                      </v-flex>
                    </v-layout>

                    <v-layout fill-height xs12>
                      <v-flex class="text-xs-center">
                        <span class="white--text display-1 font-weight-bold">R$ {{ saldo }}</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>

        <v-flex xs4>
          <v-card flat class="card-dash is-purple">
            <v-container fill-height fluid pa-2>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <v-container>
                    <v-layout fill-height xs12>
                      <v-flex>
                        <span class="white--text title">Espaço Disponível</span>
                      </v-flex>
                    </v-layout>

                    <v-layout fill-height xs12>
                      <v-flex class="text-xs-center">
                        <span
                          class="white--text display-1 font-weight-bold"
                        >{{conversor(uso.tamanhoUsado)}} de {{conversor(uso.tamanhoGeral)}}</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>

        <v-flex xs4>
          <v-card flat class="card-dash is-green">
            <v-container fill-height fluid pa-2>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <v-container>
                    <v-layout fill-height xs12>
                      <v-flex>
                        <span class="white--text title">Leafs Ativas</span>
                      </v-flex>
                    </v-layout>

                    <v-layout fill-height xs12>
                      <v-flex class="text-xs-center">
                        <span
                          class="white--text display-1 font-weight-bold"
                        >{{ativas.data.leafsTotais}} de {{ativas.data.leafsTotais}}</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid grid-list-md>
      <v-layout align-start justify-center row fill-height>
        <v-flex xs12>
          <span class="primary--text display-1">Notificações</span>
        </v-flex>
      </v-layout>

      <v-layout align-center justify-center row fill-height v-if="lembretes.length == 0">
        <v-flex shrink>
          <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
        </v-flex>
        <v-flex shrink>
          <span
            class="headline font-weight-bold grey--text text--lighten-1"
          >Nenhuma notificação encontrada</span>
        </v-flex>
      </v-layout>

      <v-layout row v-if="lembretes.length > 0">
        <v-flex xs12>
          <v-list two-line>
            <template v-for="lembrete in lembretes.slice(0, 10)">
              <v-list-tile :key="lembrete.id" @click="none">
                <v-list-tile-content>
                  <v-list-tile-title v-html="lembrete.texto"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-flex>
      </v-layout>

      <!--<v-layout row>
        <v-flex offset-xs11>
          <v-btn hidden outline right color="grey darken-1">Ver Todas</v-btn>
        </v-flex>
      </v-layout>-->
    </v-container>

    <v-container fluid grid-list-md>
      <v-layout row>
        <v-flex sm6>
          <span class="title primary--text">Gastos Diários</span>
          <v-sparkline
            :value="value"
            :gradient="['#2AD4FF', '#00FF66']"
            smooth="10"
            line-width="2"
            stroke-linecap="round"
            gradient-direction="top"
            auto-draw
            style="height:100%; width:90%;"
          >
            <template v-slot:label="item">R${{ item.value }}</template>
          </v-sparkline>
        </v-flex>
        <v-flex sm6>
          <span class="title primary--text">Gastos Mensais</span>
          <v-sparkline
            :value="value"
            :gradient="['#2AD4FF', '#00FF66']"
            smooth="10"
            line-width="2"
            stroke-linecap="round"
            gradient-direction="top"
            auto-draw
            style="height:100%; width:90%;"
          >
            <template v-slot:label="item">R${{ item.value }}</template>
          </v-sparkline>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
.card-dash {
  height: 10em;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;

  &.is-blue {
    background: #1d3141;
    background: -moz-linear-gradient(45deg, #1d3141 0%, #3a7bb2 100%);
    background: -webkit-gradient(
      left bottom,
      right top,
      color-stop(0%, #1d3141),
      color-stop(100%, #3a7bb2)
    );
    background: -webkit-linear-gradient(45deg, #1d3141 0%, #3a7bb2 100%);
    background: -o-linear-gradient(45deg, #1d3141 0%, #3a7bb2 100%);
    background: -ms-linear-gradient(45deg, #1d3141 0%, #3a7bb2 100%);
    background: linear-gradient(45deg, #1d3141 0%, #3a7bb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d3141', endColorstr='#3a7bb2', GradientType=1 );
  }

  &.is-purple {
    background: #40324b;
    background: -moz-linear-gradient(45deg, #40324b 0%, #9461bb 100%);
    background: -webkit-gradient(
      left bottom,
      right top,
      color-stop(0%, #40324b),
      color-stop(100%, #9461bb)
    );
    background: -webkit-linear-gradient(45deg, #40324b 0%, #9461bb 100%);
    background: -o-linear-gradient(45deg, #40324b 0%, #9461bb 100%);
    background: -ms-linear-gradient(45deg, #40324b 0%, #9461bb 100%);
    background: linear-gradient(45deg, #40324b 0%, #9461bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40324b', endColorstr='#9461bb', GradientType=1 );
  }

  &.is-green {
    background: #3a6642;
    background: -moz-linear-gradient(45deg, #3a6642 0%, #5ccf70 100%);
    background: -webkit-gradient(
      left bottom,
      right top,
      color-stop(0%, #3a6642),
      color-stop(100%, #5ccf70)
    );
    background: -webkit-linear-gradient(45deg, #3a6642 0%, #5ccf70 100%);
    background: -o-linear-gradient(45deg, #3a6642 0%, #5ccf70 100%);
    background: -ms-linear-gradient(45deg, #3a6642 0%, #5ccf70 100%);
    background: linear-gradient(45deg, #3a6642 0%, #5ccf70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6642', endColorstr='#5ccf70', GradientType=1 );
  }

  .box-content {
    padding: 4%;
    .title {
      font-family: proxima-nova, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #f8f8f8;
      font-size: 1.5em;
    }

    .subtitle {
      text-align: center;
      font-family: proxima-nova, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #f8f8f8;
      font-size: 3em;
    }
  }
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  data() {
    return {
      saldo: '',
      value: [0, 2, 5, 9, 5]
    }
  },

  computed: {
    ...mapGetters({
      wallet: 'wallet/wallet',
      lembretes: 'lembrete/lembretes',
      ativas: 'leaves/ativas',
      uso: 'lake/uso'
    })
  },

  watch: {
    wallet(val) {
      let n = val.saldo.toFixed(2)
      this.saldo = n.toString().replace('.', ',')
    }
  },

  methods: {
    none() {},
    conversor(bytes, decimals) {
      if (bytes == 0) return '0 Bytes'
      var k = 1024,
        dm = decimals <= 0 ? 0 : decimals || 2,
        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k))
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
    }
  },

  beforeMount() {
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('wallet/getWallet')
      this.$store.dispatch('lembrete/getLembretes')
      this.$store.dispatch('user/getMyUser')
      this.$store.dispatch('leaves/getAtivas')
      this.$store.dispatch('lake/getUso')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
