<template>
  <div class="financeiro">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm12>
          <v-container fluid>
            <v-layout row wrap align-center>
              <v-flex sm10>
                <span class="title primary--text">Pagamentos</span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container fluid grid-list-md>
            <v-data-table
              :headers="headers"
              :items="payments.data"
              item-key="name"
              :pagination.sync="pagination"
            >
              <template slot="items" slot-scope="props">
                <td class="font-weight-black">{{ props.item.codigo }}</td>
                <td v-show="props.item.status == 'Success.'">
                  <v-chip color="teal" text-color="white">
                    <v-avatar>
                      <v-icon>check_circle</v-icon> </v-avatar
                    >Confirmado
                  </v-chip>
                </td>
                <td class="font-weight-bold">R$ {{ props.item.valor }},00</td>
                <td class="font-weight-medium">
                  {{ props.item.data | moment('from') }}
                </td>
              </template>
            </v-data-table>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="adicionarSaldo" max-width="600">
      <v-card>
        <v-tabs
          grow
          color="#fafafa"
          slider-color="primary"
          v-model="pagamentoTab"
        >
          <v-tab>Cartão de Crédito</v-tab>
        </v-tabs>

        <v-tabs-items v-model="pagamentoTab">
          <v-tab-item>
            <v-card-text>
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex sm4>
                    <v-text-field
                      label="Saldo"
                      v-model.lazy="rede.saldo"
                      v-money="money2"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex sm12>
                    <v-text-field
                      label="Numero do Cartão"
                      v-model="rede.numeroCartao"
                      mask="credit-card"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex sm12>
                    <v-text-field
                      label="Nome do Titular"
                      v-model="rede.nome"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex sm4>
                    <v-text-field
                      label="CVV"
                      v-model="rede.codigoSeguranca"
                      mask="####"
                    ></v-text-field>
                  </v-flex>
                  <v-flex sm4>
                    <v-text-field
                      label="Mês"
                      v-model="rede.mesExpiracao"
                      mask="##"
                    ></v-text-field>
                  </v-flex>
                  <v-flex sm4>
                    <v-text-field
                      label="Ano"
                      v-model="rede.anoExpiracao"
                      mask="####"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                color="red darken-1"
                flat="flat"
                @click="adicionarSaldo = false"
                >Cancelar</v-btn
              >

              <v-btn
                color="green darken-1"
                flat="flat"
                @click="redePagamento(), (adicionarSaldo = false)"
                >Confirmar</v-btn
              >
            </v-card-actions>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-btn
              @click="adicionarSaldo = true"
              color="teal darken-2"
              dark
              fab
            >
              <v-icon>add</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'
import { VMoney } from 'v-money'

export default {
  name: 'Financeiro',
  data() {
    return {
      rede: {
        saldo: '',
        nome: '',
        numeroCartao: '',
        mesExpiracao: '',
        anoExpiracao: '',
        codigoSeguranca: ''
      },
      pagamentoTab: 0,
      pagarme: {
        saldo: '',
        nome: '',
        numeroCartao: '',
        mesExpiracao: '',
        anoExpiracao: '',
        codigoSeguranca: ''
      },
      adicionarSaldo: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        precision: 2
      },
      money2: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        precision: 0
      },
      headers: [
        {
          text: 'Codigo da Transação',
          value: 'codigo'
        },
        { text: 'Status', value: 'status' },
        { text: 'Valor', value: 'valor' },
        { text: 'Data', value: 'data' }
      ],
      pagination: {
        sortBy: 'data',
        descending: true
      },
      headersB: [
        {
          text: 'Codigo da Transação',
          value: 'codigo'
        },
        { text: 'Status', value: 'status' },
        { text: 'Valor', value: 'valor' },
        { text: 'Vencimento', value: 'data' },
        { text: 'Link', value: 'link' }
      ],
      paginationB: {
        sortBy: 'data',
        descending: true
      }
    }
  },

  computed: {
    ...mapGetters({
      user: 'user/user',
      payments: 'wallet/payments',
      boletos: 'wallet/boletos'
    })
  },

  directives: { money: VMoney },

  methods: {
    redePagamento() {
      let payload = {
        saldo: this.rede.saldo.replace(/[^0-9]/g, ''),
        nome: this.rede.nome,
        numeroCartao: this.rede.numeroCartao.replace(/[^0-9]/g, ''),
        mesExpiracao: this.rede.mesExpiracao,
        anoExpiracao: this.rede.anoExpiracao,
        codigoSeguranca: this.rede.codigoSeguranca
      }

      this.$store.dispatch('wallet/pagamentoRede', payload)
    },
    pagarmePagamentoBoleto() {
      this.$store.dispatch(
        'wallet/pagamentoBoletoPagarme',
        this.pagarme.saldo.replace(/[^0-9]/g, '')
      )
    },
    prettier(val, decimals = 2, decimal = ',', thousands = '.') {
      var splitNumbers = val
        .toString()
        .split('')
        .reverse()
      var mask = ''
      splitNumbers.forEach(function(d, i) {
        if (i == decimals) {
          mask = decimal + mask
        }
        if (i > decimals + 1 && (i - 2) % (decimals + 1) == 0) {
          mask = thousands + mask
        }
        mask = d + mask
      })
      return mask
    },
    openLink(link) {
      window.open(link, '_blank')
    }
  },

  beforeMount() {
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('wallet/getPayments')
      this.$store.dispatch('wallet/getBoletos')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
