<template>
  <div class="gerenciartwig">
    <v-container fluid grid-list-md>
      <v-layout align-center justify-start row fill-height>
        <v-flex sm8 class="text-truncate">
          <v-breadcrumbs divider="/" large>
            <v-breadcrumbs-item class="title" @click="backToTwigs()">Meus Twigs</v-breadcrumbs-item>
            <v-breadcrumbs-item disabled class="title">
              {{
              twig.nome
              }}
            </v-breadcrumbs-item>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center row fill-height>
        <v-flex sm12>
          <v-container pa-0>
            <v-layout align-start justify-start row fill-height>
              <v-flex>
                <v-container pa-0>
                  <v-layout align-center justify-center row fill-height>
                    <v-flex>
                      <span class="title primary--text">Produtos</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container pb-0>
                  <v-layout
                    align-center
                    justify-center
                    row
                    fill-height
                    v-for="leaf in leaves"
                    :key="leaf.id"
                  >
                    <v-flex sm1>
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path
                          fill="#7a7a7a"
                          d="M17,8C8,10 5.9,16.17 3.82,21.34L5.71,22L6.66,19.7C7.14,19.87 7.64,20 8,20C19,20 22,3 22,3C21,5 14,5.25 9,6.25C4,7.25 2,11.5 2,13.5C2,15.5 3.75,17.25 3.75,17.25C7,8 17,8 17,8Z"
                        ></path>
                      </svg>
                    </v-flex>
                    <v-flex
                      class="title text-xs-left font-weight-medium grey--text text--darken-2 text-truncate"
                    >
                      <span style="cursor:pointer;" @click="openLink(leaf.leafLink)">{{ leaf.nome }}</span>
                    </v-flex>
                    <v-flex shrink>
                      <v-chip
                        color="teal darken-2"
                        text-color="white"
                        v-if="!leaf.ativo"
                        @click=";(actionLeaf = true),
                                (leafAction.action = 'start'),
                                (leafAction.id = leaf.id),
                                (leafAction.title = 'Iniciar')
"
                      >
                        <v-avatar>
                          <v-icon>cloud_circle</v-icon>
                        </v-avatar>Ativar
                      </v-chip>

                      <v-chip
                        color="pink darken-2"
                        text-color="white"
                        v-if="leaf.ativo"
                        @click="
                              ;(actionLeaf = true),
                                (leafAction.action = 'stop'),
                                (leafAction.id = leaf.id),
                                (leafAction.title = 'Parar')
                            "
                      >
                        <v-avatar>
                          <v-icon>cloud_circle</v-icon>
                        </v-avatar>Desativar
                      </v-chip>
                    </v-flex>
                    <v-flex shrink>
                      <v-chip
                        color="pink darken-2"
                        text-color="white"
                        v-if="leaf.manutencao"
                        @click="
                              ;(actionLeaf = true),
                                (leafAction.action = 'deactivate'),
                                (leafAction.id = leaf.id),
                                (leafAction.title = 'Desativar Manutenção')
                            "
                      >
                        <v-avatar>
                          <v-icon>cancel</v-icon>
                        </v-avatar>Desativar
                      </v-chip>
                      <v-chip
                        color="orange darken-2"
                        text-color="white"
                        v-if="!leaf.manutencao"
                        @click="
                              ;(actionLeaf = true),
                                (leafAction.action = 'activate'),
                                (leafAction.id = leaf.id),
                                (leafAction.title = 'Ativar Manutenção')
                            "
                      >
                        <v-avatar>
                          <v-icon>check_circle</v-icon>
                        </v-avatar>Ativar
                      </v-chip>
                    </v-flex>
                    <v-flex shrink>
                      <v-btn
                        @click="
                              ;(actionLeaf = true),
                                (leafAction.action = 'remove'),
                                (leafAction.id = leaf.id),
                                (leafAction.title = 'Remover')
                            "
                        dark
                        small
                        flat
                        color="red darken-2"
                      >Deletar</v-btn>
                    </v-flex>
                    <v-flex shrink>
                      <v-btn
                        @click="manageLeaf(leaf)"
                        dark
                        small
                        flat
                        color="indigo darken-2"
                      >Gerenciar</v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-container pt-0 pb-0>
                  <v-layout
                    align-center
                    justify-center
                    row
                    fill-height
                    v-for="postgre in postgres"
                    :key="postgre.id"
                  >
                    <v-flex sm1>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style=" fill:#7a7a7a;"
                      >
                        <g id="surface1">
                          <path
                            style=" "
                            d="M 13 2 C 9.28125 2 8.316406 4.828125 7.992188 6.46875 C 8.4375 6.277344 9.535156 6 10 6 L 10.019531 6 C 11.164063 6.007813 11.519531 6.332031 11.75 7.390625 C 11.917969 8.167969 12.003906 9.378906 12 10 C 11.996094 11.359375 11.667969 12.296875 11.425781 12.925781 L 11.347656 13.128906 C 11.289063 13.296875 11.21875 13.453125 11.15625 13.597656 C 11.09375 13.75 11.039063 13.882813 11 14 C 11.242188 14.054688 11.433594 14.132813 11.5625 14.1875 L 11.636719 14.222656 C 11.660156 14.234375 11.683594 14.242188 11.703125 14.257813 C 12.128906 14.515625 12 15.109375 12 15.578125 C 12 15.96875 12.011719 17.523438 12 19.003906 C 12.042969 19.644531 12.207031 20.183594 12.347656 20.578125 C 12.554688 21.132813 13.019531 21.957031 14 22 C 14.773438 22.035156 15.890625 21.628906 16 20.003906 L 16 16.003906 C 16.074219 14.667969 17.605469 14.136719 18 13.84375 C 17.945313 13.769531 17.734375 13.117188 17.511719 12.769531 L 17.46875 12.6875 C 17.4375 12.609375 17.355469 12.46875 17.253906 12.28125 C 16.664063 11.210938 15.429688 8.464844 16.273438 7.058594 C 16.640625 6.441406 17 6.085938 18 6 C 17.59375 4.839844 16.46875 2.058594 13 2 Z M 6.4375 2 C 4.566406 2.070313 2 3.230469 2 7.011719 C 2 9.574219 3.742188 17 6.492188 17 C 6.617188 17 6.742188 16.957031 6.871094 16.890625 C 6.628906 16.679688 6.453125 16.40625 6.429688 16.046875 C 6.386719 15.320313 6.914063 14.808594 8.050781 14.519531 C 8.105469 14.511719 8.394531 14.425781 9.03125 14.066406 C 8.695313 13.921875 8.34375 13.726563 8.054688 13.425781 C 7.261719 12.597656 6.859375 11.4375 7.007813 10.394531 C 7.148438 9.378906 7.066406 8.382813 7.023438 7.851563 L 7.019531 7.800781 L 7.007813 7.625 L 6.984375 7.257813 L 7.015625 6.273438 C 7.339844 4.609375 8.019531 3.320313 9 2.429688 C 8.257813 2.1875 7.324219 1.96875 6.4375 2 Z M 16.933594 2.003906 C 16.742188 2.007813 16.5625 2.023438 16.386719 2.042969 C 17.390625 2.742188 18.3125 3.871094 18.941406 5.671875 L 18.984375 7.046875 C 18.988281 7.09375 18.996094 7.140625 19.003906 7.1875 C 19.035156 7.359375 19.074219 7.59375 19.042969 7.875 C 19.003906 8.195313 18.964844 8.523438 18.953125 8.851563 C 18.945313 9.175781 18.988281 9.492188 19.035156 9.828125 C 19.121094 10.425781 19.074219 11.03125 18.886719 11.679688 L 18.59375 12.6875 C 18.671875 12.859375 18.746094 13.035156 18.820313 13.21875 C 18.835938 13.265625 18.851563 13.300781 18.863281 13.332031 L 19.191406 13.785156 C 20.957031 12.230469 22 8.976563 22 5.625 C 22 4.976563 21.824219 4.476563 21.597656 4.1875 C 20.257813 2.472656 18.402344 1.980469 16.933594 2.003906 Z M 10 7 C 9.71875 7 8.75 7.230469 8.382813 7.386719 L 8.023438 7.539063 C 8.015625 7.546875 8.007813 7.554688 8.003906 7.5625 C 8.007813 7.617188 8.015625 7.683594 8.023438 7.765625 C 8.066406 8.339844 8.152344 9.40625 7.996094 10.535156 C 7.890625 11.277344 8.191406 12.121094 8.78125 12.734375 C 9.117188 13.085938 9.71875 13.316406 10.15625 13.414063 C 10.183594 13.34375 10.207031 13.285156 10.238281 13.207031 C 10.292969 13.074219 10.355469 12.933594 10.414063 12.777344 L 10.492188 12.566406 C 10.667969 12.109375 10.996094 11.253906 11 9.996094 C 11.003906 9.582031 10.957031 8.828125 10.871094 8.183594 C 10.859375 8.199219 10.851563 8.199219 10.84375 8.21875 C 10.695313 8.367188 10.464844 8.5 10.210938 8.460938 C 9.796875 8.394531 9.480469 7.890625 9.5 7.703125 C 9.523438 7.519531 9.878906 7.421875 10.292969 7.488281 C 10.433594 7.511719 10.566406 7.554688 10.675781 7.601563 C 10.714844 7.632813 10.746094 7.652344 10.78125 7.675781 C 10.777344 7.652344 10.777344 7.625 10.769531 7.601563 C 10.675781 7.160156 10.597656 7.078125 10.59375 7.074219 C 10.589844 7.070313 10.484375 7.003906 10 7 Z M 17.984375 7.011719 C 17.5 7.070313 17.363281 7.199219 17.1875 7.484375 C 17.527344 7.484375 17.773438 7.597656 17.800781 7.808594 C 17.828125 7.988281 17.675781 8.160156 17.609375 8.226563 C 17.46875 8.359375 17.292969 8.449219 17.117188 8.46875 C 17.085938 8.476563 17.054688 8.476563 17.019531 8.476563 C 17.011719 8.476563 17.007813 8.472656 17 8.472656 C 17.058594 9.296875 17.429688 10.410156 17.925781 11.402344 C 18.0625 10.925781 18.117188 10.460938 18.046875 9.96875 C 17.996094 9.605469 17.941406 9.230469 17.953125 8.820313 C 17.96875 8.449219 18.007813 8.101563 18.046875 7.761719 C 18.078125 7.5 17.976563 7.257813 17.984375 7.011719 Z M 20.179688 14.53125 C 20.101563 14.519531 19.992188 14.527344 19.859375 14.554688 C 19.230469 14.683594 18.8125 14.71875 18.503906 14.699219 C 18.394531 14.773438 18.28125 14.84375 18.140625 14.921875 C 17.578125 15.230469 17.078125 15.550781 17.011719 16 L 17.011719 16.582031 C 17.671875 16.613281 18.554688 16.203125 19.0625 15.96875 C 20.019531 15.527344 20.738281 14.605469 20.179688 14.53125 Z M 9.835938 14.761719 C 9.285156 15.089844 8.664063 15.414063 8.25 15.5 C 6.78125 15.890625 7.691406 16.347656 8.210938 16.398438 C 8.765625 16.535156 10.125 16.84375 11 16.128906 C 11 16.128906 11 16.128906 11 16.125 L 11 15.578125 C 11 15.472656 11.003906 15.367188 11.011719 15.253906 C 11.011719 15.195313 11.015625 15.117188 11.015625 15.046875 C 10.949219 15.019531 10.867188 14.996094 10.777344 14.972656 Z "
                          ></path>
                        </g>
                      </svg>
                    </v-flex>
                    <v-flex
                      class="title text-xs-left font-weight-medium grey--text text--darken-2 text-truncate"
                    >
                      <span>{{ postgre.nome }}</span>
                    </v-flex>
                    <v-flex shrink>
                      <v-btn
                        @click="managePostgre(postgre)"
                        dark
                        small
                        flat
                        color="indigo darken-2"
                      >Gerenciar</v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-container pt-0 pb-0>
                  <v-layout
                    align-center
                    justify-center
                    row
                    fill-height
                    v-for="mysql in mysqls"
                    :key="mysql.id"
                  >
                    <v-flex sm1>
                      <img src="@/assets/icons/mysql.png" alt>
                    </v-flex>
                    <v-flex
                      class="title text-xs-left font-weight-medium grey--text text--darken-2 text-truncate"
                    >
                      <span>{{ mysql.nomeRole }}</span>
                    </v-flex>
                    <v-flex shrink>
                      <v-btn
                        @click="manageMysql(mysql)"
                        dark
                        small
                        flat
                        color="indigo darken-2"
                      >Gerenciar</v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
              <v-flex sm5>
                <v-container pa-0>
                  <v-layout align-center justify-center row fill-height>
                    <v-flex>
                      <span class="title primary--text">Usuarios</span>
                    </v-flex>
                  </v-layout>

                  <v-divider></v-divider>
                </v-container>
                <v-container v-if="usersTwig.length == 0">
                  <v-layout align-center justify-center row fill-height>
                    <v-flex shrink>
                      <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
                    </v-flex>
                    <v-flex shrink>
                      <span
                        class="headline font-weight-bold grey--text text--lighten-1"
                      >Nenhum usuario encontrado</span>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-container v-if="usersTwig.length > 0">
                  <v-layout
                    align-center
                    justify-center
                    row
                    fill-height
                    v-for="userT in usersTwig"
                    :key="userT.id"
                  >
                    <v-flex class="hidden-lg-and-down">
                      <v-avatar>
                        <v-img
                          :src="
                          'https://www.gravatar.com/avatar/' +
                            userT.gravatar + '?d=mp'
                        "
                          alt="avatar"
                        />
                      </v-avatar>
                    </v-flex>
                    <v-flex>
                      <span
                        class="title font-weight-medium grey--text text--darken-2"
                      >{{ userT.nome }}</span>
                    </v-flex>
                    <v-flex class="hidden-lg-and-down">
                      <v-chip
                        v-if="userT.id == twig.financeiro.id"
                        color="teal darken-2"
                        text-color="white"
                      >Financiador</v-chip>
                      <v-chip
                        v-if="userT.id != twig.financeiro.id"
                        color="grey"
                        text-color="white"
                      >Membro</v-chip>
                    </v-flex>
                    <v-flex>
                      <v-chip
                        v-if="userT.nivelacesso == 5"
                        color="red darken-4"
                        text-color="white"
                      >Owner</v-chip>
                      <v-chip
                        v-if="userT.nivelacesso == 4"
                        color="teal darken-4"
                        text-color="white"
                      >Billing</v-chip>
                      <v-chip
                        v-if="userT.nivelacesso == 3"
                        color="purple darken-4"
                        text-color="white"
                      >Admin</v-chip>
                      <v-chip
                        v-if="userT.nivelacesso == 2"
                        color="yellow darken-4"
                        text-color="white"
                      >Developer</v-chip>
                      <v-chip
                        v-if="userT.nivelacesso == 1"
                        color="grey darken-4"
                        text-color="white"
                      >Guest</v-chip>
                    </v-flex>
                    <v-flex>
                      <v-menu offset-y>
                        <v-btn slot="activator" color="primary" dark flat>
                          <v-icon>settings</v-icon>
                        </v-btn>
                        <v-list>
                          <v-list-tile
                            @click="
                            ;(financePass = true),
                              (userSelect.usuario = userT.id)
                          "
                          >
                            <v-list-tile-title>Passar Financiador</v-list-tile-title>
                          </v-list-tile>
                          <v-list-tile
                            @click="
                            ;(changeLevel = true),
                              (editMember.idUsuario = userT.id)
                          "
                          >
                            <v-list-tile-title>Alterar Nivel</v-list-tile-title>
                          </v-list-tile>
                          <v-list-tile
                            @click="
                            ;(removerUser = true),
                              (userSelect.usuario = userT.id)
                          "
                          >
                            <v-list-tile-title>Remover Usuario</v-list-tile-title>
                          </v-list-tile>
                        </v-list>
                      </v-menu>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center row fill-height mt-5>
        <v-flex sm12>
          <v-container pa-0>
            <v-layout align-start justify-start row fill-height>
              <v-flex>
                <v-container pa-0>
                  <v-layout align-center justify-center row fill-height>
                    <v-flex>
                      <span class="title primary--text">Registro</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container v-if="logs.length == 0">
                  <v-layout align-center justify-center row fill-height>
                    <v-flex shrink>
                      <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
                    </v-flex>
                    <v-flex shrink>
                      <span
                        class="headline font-weight-bold grey--text text--lighten-1"
                      >Nenhum registro encontrado</span>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-container v-if="logs.length > 0">
                  <v-layout
                    align-center
                    justify-center
                    row
                    fill-height
                    v-for="log in logs"
                    :key="log.id"
                  >
                    <v-flex>
                      <span class="font-weight-bold">{{ log.texto }}</span>
                    </v-flex>
                    <v-flex sm3>
                      <span class="font-weight-medium">Autor - {{ log.autor }}</span>
                    </v-flex>
                    <v-flex sm2>
                      <span class="font-weight-medium">{{ log.data | moment('from') }}</span>
                    </v-flex>
                    <v-flex sm1>{{log.tipo}}</v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
              <v-flex sm5>
                <v-container pa-0>
                  <v-layout align-center justify-center row fill-height>
                    <v-flex>
                      <span class="title primary--text">Equipes</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container v-if="equipesTwig.length == 0">
                  <v-layout align-center justify-center row fill-height>
                    <v-flex shrink>
                      <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
                    </v-flex>
                    <v-flex shrink>
                      <span
                        class="headline font-weight-bold grey--text text--lighten-1"
                      >Nenhuma equipe encontrada</span>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-container fluid v-if="equipesTwig.length > 0">
                  <v-layout row wrap v-for="equipeT in equipesTwig" :key="equipeT.id" align-center>
                    <v-flex sm6 class="title font-weight-medium">
                      {{
                      equipeT.equipe.nome
                      }}
                    </v-flex>
                    <v-flex
                      sm3
                      class="subheading font-weight-medium"
                    >Lider - {{ equipeT.equipe.lider.nome }}</v-flex>
                    <v-flex sm3 v-if="equipeT.equipe != null">
                      <v-btn
                        color="red darken-2"
                        dark
                        flat
                        @click="
                        ;(removeTeamTwig = true),
                          (teamSelect.equipe = equipeT.equipe.id)
                      "
                      >Remover</v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center row fill-height mt-5>
        <v-flex sm12>
          <v-container pa-0>
            <v-layout align-start justify-start row fill-height>
              <v-flex>
                <v-container pa-0>
                  <v-layout align-center justify-center row fill-height>
                    <v-flex>
                      <span class="title primary--text">Gastos Diários</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container>
                  <v-layout align-center justify-center row fill-height>
                    <v-flex>
                      <v-sparkline
                        :value="value"
                        :gradient="['#2AD4FF', '#00FF66']"
                        smooth="10"
                        line-width="2"
                        stroke-linecap="round"
                        gradient-direction="top"
                        auto-draw
                        style="height:100%; width:90%;"
                      ></v-sparkline>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
              <v-flex>
                <v-container pa-0>
                  <v-layout align-center justify-center row fill-height>
                    <v-flex>
                      <span class="title primary--text">Gastos Mensais</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container>
                  <v-layout align-center justify-center row fill-height>
                    <v-flex>
                      <v-sparkline
                        :value="value"
                        :gradient="['#2AD4FF', '#00FF66']"
                        smooth="10"
                        line-width="2"
                        stroke-linecap="round"
                        gradient-direction="top"
                        auto-draw
                        style="height:100%; width:90%;"
                      ></v-sparkline>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="editTwig" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Atualizar Twig</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field no-resize v-model="twig.nome">
                  <div slot="label">Nome</div>
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea no-resize v-model="twig.descricao">
                  <div slot="label">Descrição</div>
                </v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="editTwig = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(editTwig = false), attTwig()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="actionLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">{{ leafAction.title }} esta Folha?</v-card-title>

        <v-card-text>
          Deseja mesmo {{ leafAction.title }} esta Folha?
          <span
            v-show="leafAction.action == 'remove'"
          >Esta ação não poderá ser desfeita!</span>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="actionLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="doAction(), (actionLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="newLeaf" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Nova Folha</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  no-resize
                  v-model="leafNew.content.nome"
                  @keyup="lowering"
                  :append-icon="'shuffle'"
                  @click:append="shuffleName"
                >
                  <div slot="label">Nome</div>
                </v-text-field>
              </v-flex>
              <v-flex sm6>
                <v-select
                  :items="plans"
                  item-text="nome"
                  item-value="identificador"
                  label="Plano"
                  v-model="leafNew.plano"
                ></v-select>
              </v-flex>
              <v-flex sm6>
                <v-select
                  :items="servers"
                  item-text="nome"
                  item-value="identificador"
                  label="Árvore"
                  v-model="leafNew.content.tree"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newLeaf = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newLeaf = false), addLeaf()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="newMember" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Adicionar Novo Membro</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm8>
                <v-menu offset-y full-width>
                  <v-text-field
                    slot="activator"
                    v-model="search"
                    @keyup="keyup"
                    label="Procurar Membro"
                  ></v-text-field>
                  <v-list v-if="data.length > 0">
                    <v-list-tile
                      style="margin-bottom:1%;"
                      v-for="item in data"
                      :key="item.id"
                      @click="selectItem(item)"
                      v-show="item.id != user.id"
                    >
                      <v-container fluid pa-0>
                        <v-layout row wrap>
                          <v-flex sm2>
                            <v-avatar size="40">
                              <v-img
                                :src="
                                  'https://www.gravatar.com/avatar/' +
                                    item.gravatar
                                "
                                alt="avatar"
                              />
                            </v-avatar>
                          </v-flex>
                          <v-flex sm10>
                            <v-container fluid pa-0>
                              <v-layout row wrap>
                                <v-flex>
                                  <span class="subheading font-weight-bold">
                                    {{
                                    item.nome
                                    }}
                                  </span>
                                </v-flex>
                              </v-layout>
                              <v-layout row wrap>
                                <v-flex>
                                  <span>{{ item.email }}</span>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-list-tile>
                  </v-list>
                  <v-list v-else>
                    <v-list-tile>Digite para procurar um membro</v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
              <v-flex sm4>
                <v-select
                  :items="cargos"
                  item-text="cargo"
                  item-value="level"
                  label="Cargo"
                  v-model="memberNew.nivel"
                ></v-select>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex sm12>
                <v-container fluid>
                  <v-layout v-show="selected.id > 0">
                    <v-flex sm3>
                      <v-avatar size="128">
                        <v-img
                          :src="
                            'https://www.gravatar.com/avatar/' +
                              selected.gravatar
                          "
                          alt="avatar"
                        />
                      </v-avatar>
                    </v-flex>
                    <v-flex sm6>
                      <v-container fluid>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <span class="title">{{ selected.nome }}</span>
                          </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <span class="subheading">{{ selected.email }}</span>
                          </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <v-chip
                              v-if="memberNew.nivel == 5"
                              color="red darken-4"
                              text-color="white"
                            >Owner</v-chip>
                            <v-chip
                              v-if="memberNew.nivel == 4"
                              color="teal darken-4"
                              text-color="white"
                            >Billing</v-chip>
                            <v-chip
                              v-if="memberNew.nivel == 3"
                              color="purple darken-4"
                              text-color="white"
                            >Admin</v-chip>
                            <v-chip
                              v-if="memberNew.nivel == 2"
                              color="yellow darken-4"
                              text-color="white"
                            >Developer</v-chip>
                            <v-chip
                              v-if="memberNew.nivel == 1"
                              color="grey darken-4"
                              text-color="white"
                            >Guest</v-chip>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newMember = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newMember = false), addMember()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="changeLevel" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Alterar Nivel de Usuario</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm12>
                <v-select
                  :items="cargos"
                  item-text="cargo"
                  item-value="level"
                  label="Novo Cargo"
                  v-model="editMember.nivel"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="changeLevel = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(changeLevel = false), levelChange()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="financePass" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja tornar este usuario Financiador?</v-card-title>

        <v-card-text>
          Deseja mesmo tornar este usuario Financiador? Um convite será enviado
          ao membro caso confirmado.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="financePass = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="passFinance(), (financePass = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="removerUser" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja remover este Usuario?</v-card-title>

        <v-card-text>
          Deseja mesmo remover este Usuario? Esta ação não poderá ser
          desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="removerUser = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="userRemove(), (removerUser = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="removeTeamTwig" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja remover esta Equipe?</v-card-title>

        <v-card-text>
          Deseja mesmo remover esta Equipe? Esta ação não poderá ser
          desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="removeTeamTwig = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="teamRemove(), (removeTeamTwig = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="newTwigTeam" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Adicionar Nova Equipe ao Galho</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm5>
                <v-menu offset-y full-width>
                  <v-text-field
                    slot="activator"
                    v-model="search2"
                    @keyup="keyup2"
                    label="Procurar Equipe"
                  ></v-text-field>
                  <v-list v-if="data2.length > 0">
                    <v-list-tile
                      style="margin-bottom:1%;"
                      v-for="item in data2"
                      :key="item.id"
                      @click="selectTeamItem(item)"
                    >
                      <v-container fluid pa-0>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <span class="subheading font-weight-bold">
                              {{
                              item.nome
                              }}
                            </span>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-list-tile>
                  </v-list>
                  <v-list v-else>
                    <v-list-tile>Digite para procurar uma equipe</v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex sm12>
                <v-container fluid>
                  <v-layout>
                    <v-flex sm12>
                      <v-container fluid>
                        <v-layout
                          row
                          wrap
                          v-show="selectedTeam.nome != null"
                          align-center
                          vertical-align
                        >
                          <v-flex sm12>
                            <span class="subheading font-weight-medium">Equipe Selecionada -</span>
                            <span class="title">{{ selectedTeam.nome }}</span>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newTwigTeam = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newTwigTeam = false), addTeamTwig()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="newAdicionalP" max-width="600">
      <v-card>
        <v-card-title>
          <span class="headline">Adicionar Novo Postgres ao Galho</span>
        </v-card-title>
        <v-container fluid>
          <v-layout row wrap>
            <v-flex sm6>
              <v-select
                :items="servers"
                item-text="nome"
                item-value="identificador"
                label="Árvore"
                v-model="newPostgresAddon.servidor"
              ></v-select>
            </v-flex>
            <v-flex sm6>
              <v-select
                :items="postgresPlans"
                item-text="nomePlano"
                item-value="codPlano"
                label="Plano"
                v-model="newPostgresAddon.plano"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newAdicionalP = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newAdicionalP = false), addPostgresTwig()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="newAdicionalM" max-width="600">
      <v-card>
        <v-card-title>
          <span class="headline">Adicionar Novo MySQL ao Galho</span>
        </v-card-title>
        <v-container fluid>
          <v-layout row wrap>
            <v-flex sm6>
              <v-select
                :items="servers"
                item-text="nome"
                item-value="identificador"
                label="Árvore"
                v-model="newMysqlAddon.servidor"
              ></v-select>
            </v-flex>
            <v-flex sm6>
              <v-select
                :items="mysqlPlans"
                item-text="nomePlano"
                item-value="codPlano"
                label="Plano"
                v-model="newMysqlAddon.plano"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newAdicionalM = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newAdicionalM = false), addMysqlTwig()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deletePostgre" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja remover este Postgre?</v-card-title>

        <v-card-text>
          Deseja mesmo remover este Postgre? Esta ação não poderá ser
          desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="deletePostgre = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="postgreDelete(), (deletePostgre = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deleteMysql" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja remover este MySQL?</v-card-title>

        <v-card-text>
          Deseja mesmo remover este MySQL? Esta ação não poderá ser
          desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="deleteMysql = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="mysqlDelete(), (deleteMysql = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-menu open-on-click top left offset-y nudge-top="10" style="border-radius:14px;">
              <template v-slot:activator="{ on }">
                <v-btn color="indigo darken-2" dark fab v-on="on">
                  <v-icon>dashboard</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-tile>
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>edit</v-icon>Renomear Twig
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>delete</v-icon>Deletar Twig
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-flex>
          <v-flex shrink>
            <v-speed-dial direction="top" v-model="dial">
              <template>
                <v-btn color="teal darken-2" dark fab slot="activator" v-model="dial">
                  <v-icon>add</v-icon>
                  <v-icon>close</v-icon>
                </v-btn>
              </template>
              <v-tooltip left>
                <template>
                  <v-btn
                    @click="openNewLeaf"
                    fab
                    dark
                    small
                    color="green lighten-2"
                    slot="activator"
                  >
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path
                        fill="#fff"
                        d="M17,8C8,10 5.9,16.17 3.82,21.34L5.71,22L6.66,19.7C7.14,19.87 7.64,20 8,20C19,20 22,3 22,3C21,5 14,5.25 9,6.25C4,7.25 2,11.5 2,13.5C2,15.5 3.75,17.25 3.75,17.25C7,8 17,8 17,8Z"
                      ></path>
                    </svg>
                  </v-btn>
                </template>
                <span>Adicionar Nova Leaf</span>
              </v-tooltip>
              <v-tooltip left>
                <template>
                  <v-btn
                    @click="openNewAdicionalP"
                    fab
                    dark
                    small
                    color="indigo lighten-2"
                    slot="activator"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      x="0px"
                      y="0px"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      style=" fill:#fff;"
                    >
                      <g id="surface1">
                        <path
                          style=" "
                          d="M 13 2 C 9.28125 2 8.316406 4.828125 7.992188 6.46875 C 8.4375 6.277344 9.535156 6 10 6 L 10.019531 6 C 11.164063 6.007813 11.519531 6.332031 11.75 7.390625 C 11.917969 8.167969 12.003906 9.378906 12 10 C 11.996094 11.359375 11.667969 12.296875 11.425781 12.925781 L 11.347656 13.128906 C 11.289063 13.296875 11.21875 13.453125 11.15625 13.597656 C 11.09375 13.75 11.039063 13.882813 11 14 C 11.242188 14.054688 11.433594 14.132813 11.5625 14.1875 L 11.636719 14.222656 C 11.660156 14.234375 11.683594 14.242188 11.703125 14.257813 C 12.128906 14.515625 12 15.109375 12 15.578125 C 12 15.96875 12.011719 17.523438 12 19.003906 C 12.042969 19.644531 12.207031 20.183594 12.347656 20.578125 C 12.554688 21.132813 13.019531 21.957031 14 22 C 14.773438 22.035156 15.890625 21.628906 16 20.003906 L 16 16.003906 C 16.074219 14.667969 17.605469 14.136719 18 13.84375 C 17.945313 13.769531 17.734375 13.117188 17.511719 12.769531 L 17.46875 12.6875 C 17.4375 12.609375 17.355469 12.46875 17.253906 12.28125 C 16.664063 11.210938 15.429688 8.464844 16.273438 7.058594 C 16.640625 6.441406 17 6.085938 18 6 C 17.59375 4.839844 16.46875 2.058594 13 2 Z M 6.4375 2 C 4.566406 2.070313 2 3.230469 2 7.011719 C 2 9.574219 3.742188 17 6.492188 17 C 6.617188 17 6.742188 16.957031 6.871094 16.890625 C 6.628906 16.679688 6.453125 16.40625 6.429688 16.046875 C 6.386719 15.320313 6.914063 14.808594 8.050781 14.519531 C 8.105469 14.511719 8.394531 14.425781 9.03125 14.066406 C 8.695313 13.921875 8.34375 13.726563 8.054688 13.425781 C 7.261719 12.597656 6.859375 11.4375 7.007813 10.394531 C 7.148438 9.378906 7.066406 8.382813 7.023438 7.851563 L 7.019531 7.800781 L 7.007813 7.625 L 6.984375 7.257813 L 7.015625 6.273438 C 7.339844 4.609375 8.019531 3.320313 9 2.429688 C 8.257813 2.1875 7.324219 1.96875 6.4375 2 Z M 16.933594 2.003906 C 16.742188 2.007813 16.5625 2.023438 16.386719 2.042969 C 17.390625 2.742188 18.3125 3.871094 18.941406 5.671875 L 18.984375 7.046875 C 18.988281 7.09375 18.996094 7.140625 19.003906 7.1875 C 19.035156 7.359375 19.074219 7.59375 19.042969 7.875 C 19.003906 8.195313 18.964844 8.523438 18.953125 8.851563 C 18.945313 9.175781 18.988281 9.492188 19.035156 9.828125 C 19.121094 10.425781 19.074219 11.03125 18.886719 11.679688 L 18.59375 12.6875 C 18.671875 12.859375 18.746094 13.035156 18.820313 13.21875 C 18.835938 13.265625 18.851563 13.300781 18.863281 13.332031 L 19.191406 13.785156 C 20.957031 12.230469 22 8.976563 22 5.625 C 22 4.976563 21.824219 4.476563 21.597656 4.1875 C 20.257813 2.472656 18.402344 1.980469 16.933594 2.003906 Z M 10 7 C 9.71875 7 8.75 7.230469 8.382813 7.386719 L 8.023438 7.539063 C 8.015625 7.546875 8.007813 7.554688 8.003906 7.5625 C 8.007813 7.617188 8.015625 7.683594 8.023438 7.765625 C 8.066406 8.339844 8.152344 9.40625 7.996094 10.535156 C 7.890625 11.277344 8.191406 12.121094 8.78125 12.734375 C 9.117188 13.085938 9.71875 13.316406 10.15625 13.414063 C 10.183594 13.34375 10.207031 13.285156 10.238281 13.207031 C 10.292969 13.074219 10.355469 12.933594 10.414063 12.777344 L 10.492188 12.566406 C 10.667969 12.109375 10.996094 11.253906 11 9.996094 C 11.003906 9.582031 10.957031 8.828125 10.871094 8.183594 C 10.859375 8.199219 10.851563 8.199219 10.84375 8.21875 C 10.695313 8.367188 10.464844 8.5 10.210938 8.460938 C 9.796875 8.394531 9.480469 7.890625 9.5 7.703125 C 9.523438 7.519531 9.878906 7.421875 10.292969 7.488281 C 10.433594 7.511719 10.566406 7.554688 10.675781 7.601563 C 10.714844 7.632813 10.746094 7.652344 10.78125 7.675781 C 10.777344 7.652344 10.777344 7.625 10.769531 7.601563 C 10.675781 7.160156 10.597656 7.078125 10.59375 7.074219 C 10.589844 7.070313 10.484375 7.003906 10 7 Z M 17.984375 7.011719 C 17.5 7.070313 17.363281 7.199219 17.1875 7.484375 C 17.527344 7.484375 17.773438 7.597656 17.800781 7.808594 C 17.828125 7.988281 17.675781 8.160156 17.609375 8.226563 C 17.46875 8.359375 17.292969 8.449219 17.117188 8.46875 C 17.085938 8.476563 17.054688 8.476563 17.019531 8.476563 C 17.011719 8.476563 17.007813 8.472656 17 8.472656 C 17.058594 9.296875 17.429688 10.410156 17.925781 11.402344 C 18.0625 10.925781 18.117188 10.460938 18.046875 9.96875 C 17.996094 9.605469 17.941406 9.230469 17.953125 8.820313 C 17.96875 8.449219 18.007813 8.101563 18.046875 7.761719 C 18.078125 7.5 17.976563 7.257813 17.984375 7.011719 Z M 20.179688 14.53125 C 20.101563 14.519531 19.992188 14.527344 19.859375 14.554688 C 19.230469 14.683594 18.8125 14.71875 18.503906 14.699219 C 18.394531 14.773438 18.28125 14.84375 18.140625 14.921875 C 17.578125 15.230469 17.078125 15.550781 17.011719 16 L 17.011719 16.582031 C 17.671875 16.613281 18.554688 16.203125 19.0625 15.96875 C 20.019531 15.527344 20.738281 14.605469 20.179688 14.53125 Z M 9.835938 14.761719 C 9.285156 15.089844 8.664063 15.414063 8.25 15.5 C 6.78125 15.890625 7.691406 16.347656 8.210938 16.398438 C 8.765625 16.535156 10.125 16.84375 11 16.128906 C 11 16.128906 11 16.128906 11 16.125 L 11 15.578125 C 11 15.472656 11.003906 15.367188 11.011719 15.253906 C 11.011719 15.195313 11.015625 15.117188 11.015625 15.046875 C 10.949219 15.019531 10.867188 14.996094 10.777344 14.972656 Z "
                        ></path>
                      </g>
                    </svg>
                  </v-btn>
                </template>
                <span>Adicionar Novo Postgres</span>
              </v-tooltip>
              <v-tooltip left>
                <template>
                  <v-btn
                    slot="activator"
                    @click="openNewAdicionalM"
                    fab
                    dark
                    small
                    color="#f2f2f2"
                    v-on="on"
                  >
                    <img src="@/assets/icons/mysql.png" alt>
                  </v-btn>
                </template>
                <span>Adicionar Novo MySQL</span>
              </v-tooltip>
              <v-tooltip left>
                <template>
                  <v-btn
                    @click="newMember = true"
                    fab
                    dark
                    small
                    color="deep-purple lighten-2"
                    slot="activator"
                  >
                    <v-icon>account_circle</v-icon>
                  </v-btn>
                </template>
                <span>Adicionar Membro</span>
              </v-tooltip>
              <v-tooltip left>
                <template>
                  <v-btn
                    @click="newTwigTeam = true"
                    fab
                    dark
                    small
                    color="purple lighten-2"
                    slot="activator"
                  >
                    <v-icon>supervised_user_circle</v-icon>
                  </v-btn>
                </template>
                <span>Adicionar Equipe</span>
              </v-tooltip>
            </v-speed-dial>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'
import { _ } from 'vue-underscore'

const Hashids = require('hashids')

export default {
  name: 'GerenciarTwig',
  data() {
    return {
      dial: false,
      editTwig: false,
      actionLeaf: false,
      newLeaf: false,
      newMember: false,
      changeLevel: false,
      financePass: false,
      removerUser: false,
      removeTeamTwig: false,
      newTwigTeam: false,
      newAdicionalP: false,
      newAdicionalM: false,
      deleteMysql: false,
      deletePostgre: false,
      leafAction: {
        action: '',
        id: '',
        title: '',
        twig: ''
      },
      leafNew: {
        twig: '',
        plano: '',
        content: {
          nome: '',
          tree: ''
        }
      },
      search: '',
      selected: '',
      data: [],
      memberNew: {
        id: '',
        idUsuario: '',
        nivel: ''
      },
      cargos: [
        { cargo: 'Owner', level: '5' },
        { cargo: 'Billing', level: '4' },
        { cargo: 'Admin', level: '3' },
        { cargo: 'Developer', level: '2' },
        { cargo: 'Guest', level: '1' }
      ],
      editMember: {
        id: '',
        idUsuario: '',
        nivel: ''
      },
      userSelect: {
        twig: '',
        user: ''
      },
      teamSelect: {
        equipe: '',
        twig: ''
      },
      search2: '',
      selectedTeam: '',
      data2: [],
      addonTab: 0,
      newPostgresAddon: {
        twig: '',
        servidor: '',
        plano: ''
      },
      newMysqlAddon: {
        twig: '',
        servidor: '',
        plano: ''
      },
      teste: true,
      value: [0, 2, 5, 9, 5],
      postgreSelect: {
        twig: '',
        id: ''
      },
      mysqlSelect: {
        twig: '',
        id: ''
      }
    }
  },

  computed: {
    ...mapGetters({
      twig: 'twig/twig',
      leaves: 'leaves/leaves',
      plans: 'leafPlan/plans',
      servers: 'servers/servers',
      logs: 'logs/logs',
      usersTwig: 'twig/usersTwig',
      user: 'user/user',
      equipesTwig: 'twig/equipesTwig',
      postgres: 'postgres/postgres',
      postgresPlans: 'postgresPlan/postgresPlans',
      mysqls: 'mysql/mysqls',
      mysqlPlans: 'mysqlPlan/mysqlPlans'
    })
  },

  methods: {
    backToTwigs() {
      this.$router.push('/galhos')
    },
    attTwig() {
      this.$store.dispatch('twig/editTwigSolo', this.twig)
    },
    openLink(link) {
      window.open(link, '_blank')
    },
    manageLeaf(leaf) {
      let idNew = this.Hashids.encode(leaf.id)
      this.$router.push(`/leaf/${idNew}`)
    },
    doAction() {
      if (this.leafAction.action == 'start') {
        this.leafAction.twig = this.twig.id
        this.$store.dispatch('leaves/startLeafTwig', this.leafAction)
      } else if (this.leafAction.action == 'stop') {
        this.leafAction.twig = this.twig.id
        this.$store.dispatch('leaves/stopLeafTwig', this.leafAction)
      } else if (this.leafAction.action == 'remove') {
        this.leafAction.twig = this.twig.id
        this.$store.dispatch('leaves/deleteLeafTwig', this.leafAction)
      } else if (this.leafAction.action == 'deactivate') {
        this.leafAction.twig = this.twig.id
        this.$store.dispatch('leaves/desactiveMaintenanceTwig', this.leafAction)
      } else if (this.leafAction.action == 'activate') {
        this.leafAction.twig = this.twig.id
        this.$store.dispatch('leaves/activeMaintenanceTwig', this.leafAction)
      }
    },
    openNewLeaf() {
      this.$store.dispatch('leafPlan/getAllPlans')
      this.$store.dispatch('servers/getServers')
      this.newLeaf = true
    },
    openNewAdicionalP() {
      this.$store.dispatch('postgresPlan/getPostgresPlans')
      this.$store.dispatch('servers/getServers')
      this.newAdicionalP = true
    },
    openNewAdicionalM() {
      this.$store.dispatch('mysqlPlan/getmysqlPlans')
      this.$store.dispatch('servers/getServers')
      this.newAdicionalM = true
    },
    addLeaf() {
      this.leafNew.twig = this.twig.id
      this.$store.dispatch('leaves/newLeaf', this.leafNew)
      this.leafNew = {
        twig: '',
        plano: '',
        content: {
          nome: '',
          tree: ''
        }
      }
    },
    lowering() {
      this.leafNew.content.nome = this.leafNew.content.nome
        .toLowerCase()
        .replace(/[^a-zA-Z0-9]/g, '-')
    },
    shuffleName() {
      var generate = require('project-name-generator')

      let a = generate({ number: true }).dashed

      this.leafNew.content.nome = a
    },
    inputDebounce: _.debounce(function() {
      this.searchUser(this.search)
    }, 500),

    async searchUser(val) {
      try {
        let res = await this.$services.user.buscarUsuarioNomeEmail(
          val,
          this.$cookies.get('USERTOKEN')
        )
        res = this.process(res)
        this.data = res.data
      } catch (erro) {
        this.$alert('Erro!', erro, 'danger')
      }
    },
    selectItem(item) {
      this.selected = item
      this.idUsuario = item.id
      this.search = ''
      this.closed = false
      this.show = true
    },

    keyup() {
      if (this.search !== '') {
        this.data = []
        this.closed = true
        this.selected = {}
        this.inputDebounce()
      }
    },

    process(data) {
      if (data instanceof Object) {
        if (data.cod >= 400 || data.status >= 400) throw data
        return data
      } else throw 'The returned data must be an object type'
    },

    addMember() {
      this.memberNew.id = this.twig.id
      this.memberNew.idUsuario = this.selected.id
      this.$store.dispatch('twig/addUserTwig', this.memberNew)
      this.memberNew = {
        id: '',
        idUsuario: '',
        nivel: ''
      }
    },
    levelChange() {
      this.editMember.id = this.twig.id
      this.$store.dispatch('twig/changeUserLevel', this.editMember)
      this.editMember = {
        id: '',
        idUsuario: '',
        nivel: ''
      }
    },
    passFinance() {
      this.userSelect.twig = this.twig.id
      this.$store.dispatch('twig/changeFunder', this.userSelect)
      this.userSelect = {
        twig: '',
        usuario: ''
      }
    },
    userRemove() {
      this.userSelect.twig = this.twig.id
      this.$store.dispatch('twig/removeUserTwig', this.userSelect)
      this.userSelect = {
        twig: '',
        usuario: ''
      }
    },
    teamRemove() {
      this.teamSelect.twig = this.twig.id
      this.$store.dispatch('twig/removeTeamTwig', this.teamSelect)
      this.teamSelect = {
        twig: '',
        equipe: ''
      }
    },

    teamInputDebounce: _.debounce(function() {
      this.searchTeam(this.search2)
    }, 500),

    async searchTeam(val) {
      try {
        let res = await this.$services.teams.buscarEquipePorNome(
          val,
          this.$cookies.get('USERTOKEN')
        )
        res = this.process(res)
        this.data2 = res.data
      } catch (erro) {
        console.log(erro)
      }
    },
    selectTeamItem(item) {
      this.selectedTeam = item
      this.idEquipe = item.id
      this.searchTeam = ''
      this.closed2 = false
      this.show2 = true
    },

    keyup2() {
      if (this.search2 !== '') {
        this.data2 = []
        this.closed2 = true
        this.selectedTeam = {}
        this.teamInputDebounce()
      }
    },
    addTeamTwig() {
      this.teamSelect.twig = this.twig.id
      this.teamSelect.equipe = this.selectedTeam.id
      this.$store.dispatch('twig/addTeamTwig', this.teamSelect)
    },
    addPostgresTwig() {
      this.newPostgresAddon.twig = this.twig.id
      this.$store.dispatch('postgres/newAddon', this.newPostgresAddon)
    },
    addMysqlTwig() {
      this.newMysqlAddon.twig = this.twig.id
      this.$store.dispatch('mysql/newAddon', this.newMysqlAddon)
    },
    managePostgre(postgre) {
      this.$router.push(`/postgre/${postgre.nomedb}`)
    },
    manageMysql(mysql) {
      let idNew = this.Hashids.encode(mysql.id)
      this.$router.push(`/mysql/${idNew}`)
    }
  },

  watch: {
    twig(val) {
      if (val.id > 0) {
        this.$store.dispatch('leaves/getLeavesTwig', this.twig.id)
        this.$store.dispatch('logs/listarLogsTwig', this.twig.id)
        this.$store.dispatch('twig/getUsersTwig', this.twig.id)
        this.$store.dispatch('twig/getEquipesTwig', this.twig.id)
        this.$store.dispatch('postgres/listarAddonsUsuario', this.twig.id)
        this.$store.dispatch('mysql/listarAddonsUsuario', this.twig.id)
      }
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()

    let plaintext = this.Hashids.decode(this.$route.params.twig)

    this.$store.dispatch('twig/getTwig', plaintext)

    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
