<template>
  <div class="gerenciarfolha">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm6 class="text-truncate">
          <v-breadcrumbs divider="/" large>
            <v-breadcrumbs-item class="title" @click="backToTwigs()">Meus Twigs</v-breadcrumbs-item>
            <v-breadcrumbs-item class="title" @click="backToTwig()">{{ twig.nome }}</v-breadcrumbs-item>
            <v-breadcrumbs-item disabled class="title">{{ leaf.nome }}</v-breadcrumbs-item>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex sm12>
          <v-container fluid pa-0>
            <v-layout row wrap>
              <v-flex sm6>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex sm3>
                      <span class="title primary--text">Informações</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex sm6 class="subheading primary--text font-weight-medium">
                      <span style="cursor:pointer;" @click="openLink(leaf.leafLink)">{{ leaf.nome }}</span>
                    </v-flex>
                    <v-flex sm6>
                      <span
                        v-show="leaf.ativo"
                        class="subheading green--text text--darken-2 font-weight-bold"
                      >Ativo</span>
                      <span
                        v-show="!leaf.ativo"
                        class="subheading red--text text--darken-2 font-weight-bold"
                      >Inativo</span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Memoria Alocada</span>
                    </v-flex>
                    <v-flex sm6 class="subheading font-weight-bold">{{ leaf.memoria }} mb</v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Processamento Alocado</span>
                    </v-flex>
                    <v-flex sm6 class="subheading font-weight-bold">{{ leaf.cpu }}%</v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Quantidade de WEB's</span>
                    </v-flex>
                    <v-flex sm6 class="subheading font-weight-bold">{{ leaf.web }}</v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Tree</span>
                    </v-flex>
                    <v-flex sm6 class="subheading font-weight-bold">{{ leaf.tree }}</v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
              <v-flex sm6>
                <v-layout row wrap>
                  <v-flex sm12>
                    <v-container fluid>
                      <v-layout row wrap align-center>
                        <v-flex sm12>
                          <span class="title primary--text">Gráficos Financeiros</span>
                        </v-flex>
                      </v-layout>
                      <v-divider></v-divider>
                    </v-container>
                    <v-container>
                      <v-layout>
                        <v-flex>
                          <v-sparkline
                            :value="value"
                            :gradient="['#2AD4FF', '#00FF66']"
                            smooth="10"
                            line-width="2"
                            stroke-linecap="round"
                            gradient-direction="top"
                            auto-draw
                            style="height:100%; width:90%;"
                          ></v-sparkline>
                        </v-flex>
                      </v-layout>
                      <v-layout>
                        <v-flex>
                          <v-sparkline
                            :value="value"
                            :gradient="['#2AD4FF', '#00FF66']"
                            smooth="10"
                            line-width="2"
                            stroke-linecap="round"
                            gradient-direction="top"
                            auto-draw
                            style="height:100%; width:90%;"
                          ></v-sparkline>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout align-start justify-center row fill-height>
        <v-flex>
          <v-container fluid>
            <v-layout row wrap align-center>
              <v-flex sm12>
                <span class="title primary--text">Registro</span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container v-if="logs.length == 0">
            <v-layout align-center justify-center row fill-height>
              <v-flex shrink>
                <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
              </v-flex>
              <v-flex shrink>
                <span
                  class="headline font-weight-bold grey--text text--lighten-1"
                >Nenhum registro encontrado</span>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container v-if="logs.length > 0">
            <v-layout align-center justify-center row fill-height v-for="log in logs" :key="log.id">
              <v-flex>
                <span class="font-weight-bold">{{ log.texto }}</span>
              </v-flex>
              <v-flex sm3>
                <span class="font-weight-medium">Autor - {{ log.autor }}</span>
              </v-flex>
              <v-flex sm2>
                <span class="font-weight-medium">{{ log.data | moment('from') }}</span>
              </v-flex>
              <v-flex sm1>{{log.tipo}}</v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout align-start justify-center row fill-height>
        <v-flex>
          <v-container fluid>
            <v-layout row wrap align-center>
              <v-flex sm12>
                <span class="title primary--text">Histórico de Commit</span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container v-if="commits.length == 0">
            <v-layout align-center justify-center row fill-height>
              <v-flex shrink>
                <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
              </v-flex>
              <v-flex shrink>
                <span
                  class="headline font-weight-bold grey--text text--lighten-1"
                >Nenhum commit encontrado</span>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container v-if="commits.length > 0">
            <v-layout
              align-center
              justify-center
              row
              fill-height
              v-for="commit in commits"
              :key="commit.id"
            >
              <v-flex shrink>
                <span class="font-weight-black">#{{commit.commit.substring(0,8)}}</span>
              </v-flex>
              <v-flex>
                <span style="margin-left: 5%;" class="font-weight-medium">{{commit.message}}</span>
              </v-flex>
              <v-flex shrink>
                <span class="font-weight-bold text--secondary">Autor - {{commit.autor}}</span>
              </v-flex>
              <v-flex shrink>
                <span class="font-weight-medium text--secondary">{{commit.data | moment('from') }}</span>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex sm6>
          <v-container fluid>
            <v-layout row wrap align-center>
              <v-flex>
                <span class="title primary--text">Uso de CPU</span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container>
            <v-layout align-center justify-center row fill-height>
              <v-flex shrink>
                <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
              </v-flex>
              <v-flex shrink>
                <span class="headline font-weight-bold grey--text text--lighten-1">EM BREVE</span>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex sm6>
          <v-container fluid>
            <v-layout row wrap align-center>
              <v-flex>
                <span class="title primary--text">Uso de Memoria</span>
              </v-flex>
              <v-flex v-if="memoriaGraph.length > 0">Atual {{humanizeMemory()}}</v-flex>
              <v-flex
                v-if="memoriaTimeInfo.length > 0"
              >Em {{getLast(memoriaTimeInfo) | moment('HH:mm:ss')}}</v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container v-if="memoriaGraph.length == 0">
            <v-layout align-center justify-center row fill-height>
              <v-flex shrink>
                <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
              </v-flex>
              <v-flex shrink>
                <span
                  class="headline font-weight-bold grey--text text--lighten-1"
                >Sem dados para exibição</span>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container v-if="memoriaGraph.length > 0">
            <v-layout>
              <v-flex>
                <v-sparkline
                  :value="memoriaGraph"
                  :gradient="['#2AD4FF', '#00FF66']"
                  smooth="10"
                  padding="8"
                  line-width="2"
                  stroke-linecap="round"
                  gradient-direction="top"
                  auto-draw
                  style="height:100%; width:90%;"
                  fill
                ></v-sparkline>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialogs --->
    <v-dialog v-model="generateGitKey" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja gerar uma nova Git Key?</v-card-title>

        <v-card-text>
          Deseja mesmo gerar uma nova Git Key? Se houver uma key anterior, esta
          irá sobrepor.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="generateGitKey = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="gitKeyGenerate(), (generateGitKey = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="stopLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja parar a Folha?</v-card-title>

        <v-card-text>Deseja mesmo parar a Folha?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="stopLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="leafStop(), (stopLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="startLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja iniciar a Folha?</v-card-title>

        <v-card-text>Deseja mesmo iniciar a Folha?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="startLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="leafStart(), (startLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="ativarManutencaoLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja iniciar a Manutenção da Folha?</v-card-title>

        <v-card-text>Deseja mesmo iniciar a Manutenção Folha?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="ativarManutencaoLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="manutencaoAtivarLeaf(), (ativarManutencaoLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="desativarManutencaoLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja finalizar a Manutenção Folha?</v-card-title>

        <v-card-text>Deseja mesmo finalizar a Manutenção Folha?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="desativarManutencaoLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="
              manutencaoDesativarLeaf(), (desativarManutencaoLeaf = false)
            "
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="habilitarSSLLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja implementar SSL na Folha?</v-card-title>

        <v-card-text>Deseja mesmo implementar SSL na Folha?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="habilitarSSLLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="sslHabilitarLeaf(), (habilitarSSLLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="desabilitarSSLLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja remover SSL da Folha?</v-card-title>

        <v-card-text>Deseja mesmo remover SSL da Folha?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="desabilitarSSLLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="sslDesabilitarLeaf(), (desabilitarSSLLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="rebuildLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja rebuildar a Folha?</v-card-title>

        <v-card-text>Deseja mesmo rebuildar a Folha?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="rebuildLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="leafRebuild(), (rebuildLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="treeChange" max-width="400">
      <v-card>
        <v-card-title class="headline">Mudança de Árvore</v-card-title>

        <v-card-text>
          <v-select
            :items="servers"
            item-text="nome"
            item-value="identificador"
            label="Árvore"
            v-model="payload.tree"
          ></v-select>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="treeChange = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="treeChanging(), (treeChange = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="scaleLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Escalonar Folha</v-card-title>

        <v-card-text>
          <v-flex>
            <v-text-field label="Numero de Web's" type="number" v-model="payload.web"></v-text-field>
          </v-flex>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="scaleLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="leafScale(), (scaleLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="planChange" max-width="400">
      <v-card>
        <v-card-title class="headline">Mudança de Plano</v-card-title>

        <v-card-text>
          <v-select
            :items="plans"
            item-text="nome"
            item-value="identificador"
            label="Plano"
            v-model="payload.plano"
          ></v-select>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="planChange = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="planChanging(), (planChange = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="renameLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Mudança de Nome</v-card-title>

        <v-card-text>
          <v-text-field
            no-resize
            v-model="payload.nome"
            @keyup="lowering"
            :append-icon="'shuffle'"
            @click:append="shuffleName"
          >
            <div slot="label">Nome</div>
          </v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="renameLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="leafRename(), (renameLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deleteLeaf" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja remover a Folha?</v-card-title>

        <v-card-text>Deseja mesmo remover a Folha?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="deleteLeaf = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="leafDelete(), (deleteLeaf = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="gitlab" max-width="50%">
      <v-stepper v-model="e2">
        <v-stepper-header>
          <v-stepper-step :complete="e2 > 1" step="1">Credenciais</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e2 > 2" step="2">Configuração</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e2 > 3" step="3">Código Exemplo</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card class="mb-2 elevation-0">
              <v-container pa-0>
                <v-layout row wrap v-if="leaf.gitLink != null">
                  <v-flex sm12>
                    <v-text-field
                      label="Git Key"
                      :append-icon="show ? 'visibility_off' : 'visibility'"
                      :type="show ? 'text' : 'password'"
                      readonly
                      class="input-group--focused"
                      @click:append="show = !show"
                      v-model="leaf.gitKey"
                    >
                      <v-tooltip slot="prepend" bottom>
                        <v-icon slot="activator" v-clipboard:copy="leaf.gitKey">file_copy</v-icon>
                        <span>Copiado</span>
                      </v-tooltip>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-if="leaf.gitLink != null">
                  <v-flex sm12>
                    <v-text-field
                      label="Git Link"
                      :append-icon="show2 ? 'visibility_off' : 'visibility'"
                      :type="show2 ? 'text' : 'password'"
                      readonly
                      class="input-group--focused"
                      @click:append="show2 = !show2"
                      v-model="leaf.gitLink"
                    >
                      <v-tooltip slot="prepend" bottom>
                        <v-icon slot="activator" v-clipboard:copy="leaf.gitLink">file_copy</v-icon>
                        <span>Copiado</span>
                      </v-tooltip>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-if="leaf.gitLink == null">
                  <v-flex sm12 class="text-xs-center">
                    <span
                      class="title font-weight-medium"
                    >É necessário gerar uma GitKey antes de utilizar esta função!</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>

            <v-btn color="primary" @click="e2 = 2">Continuar</v-btn>

            <v-btn flat @click="gitlab = false">Fechar</v-btn>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-card class="mb-2 elevation-0">
              <v-container pa-0>
                <highlight-code lang="html">
                  Indicamos que você crie uma váriavel em seu painel do GitLab
                  - Acesse o GitLab e entre no painel de seu projeto
                  - Em Settings, acesse a opção CI/CD
                  - Expanda o painel de Environment variables
                  - No campo da esquerda escreva CLOUD_API_KEY
                  - No campo da direita cole a Git Key disponível no passo anterior
                  - Salve as váriaveis
                  - Vá para o seu projeto
                  - Adicione um arquivo de configuração CI/CD
                  - Pode-se usar o botão CI/CD configuration ou criar um arquivo .gitlab-ci.yml na pasta raiz
                  - Utilize o código do próximo passo como guia
                </highlight-code>
              </v-container>
            </v-card>

            <v-btn color="primary" @click="e2 = 3">Continuar</v-btn>

            <v-btn color="secondary" @click="e2 = 1">Voltar</v-btn>

            <v-btn flat @click="gitlab = false">Fechar</v-btn>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-card flat class="mb-2">
              <highlight-code lang="yaml">
                stages:
                - deploy
                variables:
                APP_NAME: {{leaf.nome}}
                deploy:
                image: ilyasemenov/gitlab-ci-git-push
                stage: deploy
                environment:
                name: production
                url: https/$APP_NAME.tree-ny-01.cloudforestdns.com/
                only:
                - master
                script:
                - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
                - git remote add production https://{{leaf.nome}}:$CLOUD_API_KEY@git.cloudforest.com.br/c.f/{{leaf.nome}}.git
                - git push production
              </highlight-code>
              <v-subheader>* O código acima é apenas um exemplo, utilize das informações nele contidas e siga as especificações do seu projeto</v-subheader>
            </v-card>

            <v-btn color="secondary" @click="e2 = 2">Voltar</v-btn>

            <v-btn flat @click="gitlab = false, e2 = 1">Fechar</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-dialog>

    <v-dialog v-model="terminal" max-width="50%">
      <v-stepper v-model="e1">
        <v-stepper-header>
          <v-stepper-step :complete="e1 > 1" step="1">Credenciais</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e1 > 2" step="2">Código Exemplo</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card class="mb-2 elevation-0">
              <v-container pa-0>
                <v-layout row wrap v-if="leaf.gitLink != null">
                  <v-flex sm12>
                    <v-text-field
                      label="Git Key"
                      :append-icon="show ? 'visibility_off' : 'visibility'"
                      :type="show ? 'text' : 'password'"
                      readonly
                      class="input-group--focused"
                      @click:append="show = !show"
                      v-model="leaf.gitKey"
                    >
                      <v-tooltip slot="prepend" bottom>
                        <v-icon slot="activator" v-clipboard:copy="leaf.gitKey">file_copy</v-icon>
                        <span>Copiado</span>
                      </v-tooltip>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-if="leaf.gitLink != null">
                  <v-flex sm12>
                    <v-text-field
                      label="Git Link"
                      :append-icon="show2 ? 'visibility_off' : 'visibility'"
                      :type="show2 ? 'text' : 'password'"
                      readonly
                      class="input-group--focused"
                      @click:append="show2 = !show2"
                      v-model="leaf.gitLink"
                    >
                      <v-tooltip slot="prepend" bottom>
                        <v-icon slot="activator" v-clipboard:copy="leaf.gitLink">file_copy</v-icon>
                        <span>Copiado</span>
                      </v-tooltip>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-if="leaf.gitLink == null">
                  <v-flex sm12 class="text-xs-center">
                    <span
                      class="title font-weight-medium"
                    >É necessário gerar uma GitKey antes de utilizar esta função!</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>

            <v-btn color="primary" @click="e1 = 2">Continuar</v-btn>

            <v-btn flat @click="terminal = false">Fechar</v-btn>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-card class="mb-2">
              <highlight-code lang="shell">
                $ git add .
                $ git commit -m "Tutorial CloudForest - GIT"
                $ git remote add cloudforest {{leaf.gitLink}}
                $ git push cloudforest
              </highlight-code>
            </v-card>

            <v-btn color="secondary" @click="e1 = 1">Voltar</v-btn>

            <v-btn flat @click="terminal = false, e1 = 1">Fechar</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-dialog>

    <v-dialog v-model="bitbucket" max-width="50%">
      <v-stepper v-model="e3">
        <v-stepper-header>
          <v-stepper-step :complete="e3 > 1" step="1">Credenciais</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e3 > 2" step="2">Configuração</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e3 > 3" step="3">Código Exemplo</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card class="mb-2 elevation-0">
              <v-container pa-0>
                <v-layout row wrap v-if="leaf.gitLink != null">
                  <v-flex sm12>
                    <v-text-field
                      label="Git Key"
                      :append-icon="show ? 'visibility_off' : 'visibility'"
                      :type="show ? 'text' : 'password'"
                      readonly
                      class="input-group--focused"
                      @click:append="show = !show"
                      v-model="leaf.gitKey"
                    >
                      <v-tooltip slot="prepend" bottom>
                        <v-icon slot="activator" v-clipboard:copy="leaf.gitKey">file_copy</v-icon>
                        <span>Copiado</span>
                      </v-tooltip>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-if="leaf.gitLink != null">
                  <v-flex sm12>
                    <v-text-field
                      label="Git Link"
                      :append-icon="show2 ? 'visibility_off' : 'visibility'"
                      :type="show2 ? 'text' : 'password'"
                      readonly
                      class="input-group--focused"
                      @click:append="show2 = !show2"
                      v-model="leaf.gitLink"
                    >
                      <v-tooltip slot="prepend" bottom>
                        <v-icon slot="activator" v-clipboard:copy="leaf.gitLink">file_copy</v-icon>
                        <span>Copiado</span>
                      </v-tooltip>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-if="leaf.gitLink == null">
                  <v-flex sm12 class="text-xs-center">
                    <span
                      class="title font-weight-medium"
                    >É necessário gerar uma GitKey antes de utilizar esta função!</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>

            <v-btn color="primary" @click="e3 = 2">Continuar</v-btn>

            <v-btn flat @click="bitbucket = false">Fechar</v-btn>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-card class="mb-2 elevation-0">
              <v-container pa-0>
                <highlight-code lang="html">
                  Indicamos que você crie uma váriavel em seu painel do BitBucket
                  - Acesse o BitBucket e entre no painel de seu projeto
                  - Acesse Settings, depois acesse a opção Pipelines e habilite o Pipelines
                  - Acesse Settings e depois acesse a opção Repository Variables
                  - No campo da esquerda escreva CLOUD_API_KEY
                  - No campo da direita cole a Git Key disponível no passo anterior
                  - Adicione as váriaveis
                  - Adicione um arquivo de configuração CI/CD
                  - Pode-se usar o botão Add bitbucket-pipelines.yml ( em Settings -> Pipelines ) ou criar um arquivo bitbucket-pipelines.yml na pasta raiz
                  - Utilize o código do próximo passo como guia
                </highlight-code>
              </v-container>
            </v-card>

            <v-btn color="primary" @click="e3 = 3">Continuar</v-btn>

            <v-btn color="secondary" @click="e3 = 1">Voltar</v-btn>

            <v-btn flat @click="bitbucket = false">Fechar</v-btn>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-card flat class="mb-2">
              <highlight-code lang="yaml">
                pipelines:
                default:
                - step:
                name: Deploy
                deployment: production
                script:
                - git remote add production https://{{leaf.nome}}:$CLOUD_API_KEY@git.cloudforest.com.br/c.f/{{leaf.nome}}.git
                - git push production
              </highlight-code>
              <v-subheader>* O código acima é apenas um exemplo, utilize das informações nele contidas e siga as especificações do seu projeto</v-subheader>
            </v-card>

            <v-btn color="secondary" @click="e3 = 2">Voltar</v-btn>

            <v-btn flat @click="bitbucket = false, e3 = 1">Fechar</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <!--<v-flex shrink>
            <v-btn hidden color="deep-orange darken-2" dark fab>
              <v-icon>subtitles</v-icon>
            </v-btn>
          </v-flex>-->
          <v-flex shrink>
            <v-menu open-on-click top left offset-y nudge-top="10" style="border-radius:14px;">
              <template v-slot:activator="{ on }">
                <v-btn color="indigo darken-2" dark fab v-on="on">
                  <v-icon>dashboard</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-tile @click="renameLeaf = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>edit</v-icon>Renomear Leaf
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="deleteLeaf = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>delete</v-icon>Deletar Leaf
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="startLeaf = true" v-if="!leaf.ativo">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>play_arrow</v-icon>Iniciar Leaf
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="stopLeaf = true" v-if="leaf.ativo">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>stop</v-icon>Parar Leaf
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="ativarManutencaoLeaf = true" v-if="!leaf.inMaintenance">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>report</v-icon>Ativar Manutenção
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="desativarManutencaoLeaf = true" v-if="leaf.inMaintenance">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>report_off</v-icon>Desativar Manutenção
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="generateGitKey = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>vpn_key</v-icon>Gerar Git Key
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="habilitarSSLLeaf = true" v-if="!leaf.hasSSL">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>new_releases</v-icon>Habilitar SSL
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="desabilitarSSLLeaf = true" v-if="leaf.hasSSL">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>cancel</v-icon>Remover SSL
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="rebuildLeaf = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>cached</v-icon>Rebuildar Leaf
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="changePlan()">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>shop_two</v-icon>Mudar Plano
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="changeTree()">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>swap_horiz</v-icon>Mudar de Tree
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="scaleLeaf = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>swap_vert</v-icon>Escalonar Leaf
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-flex>
          <v-flex shrink>
            <v-speed-dial direction="top">
              <template v-slot:activator>
                <v-btn color="orange darken-2" dark fab>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    x="0px"
                    y="0px"
                    width="30"
                    height="30"
                    viewBox="0 0 50 50"
                    style=" fill:#fff;"
                  >
                    <g id="surface1">
                      <path
                        style=" "
                        d="M 46.792969 22.089844 L 27.910156 3.207031 C 27.109375 2.402344 26.054688 2 25 2 C 23.945313 2 22.890625 2.402344 22.089844 3.207031 L 18.355469 6.941406 L 22.976563 11.5625 C 24.511719 10.660156 26.511719 10.855469 27.828125 12.171875 C 29.144531 13.488281 29.335938 15.488281 28.433594 17.019531 L 32.976563 21.5625 C 34.511719 20.660156 36.511719 20.855469 37.828125 22.171875 C 39.390625 23.734375 39.390625 26.265625 37.828125 27.828125 C 36.265625 29.390625 33.734375 29.390625 32.171875 27.828125 C 30.855469 26.511719 30.660156 24.511719 31.5625 22.976563 L 27.019531 18.433594 C 26.695313 18.625 26.355469 18.765625 26 18.855469 L 26 31.140625 C 27.722656 31.585938 29 33.136719 29 35 C 29 37.210938 27.210938 39 25 39 C 22.789063 39 21 37.210938 21 35 C 21 33.136719 22.277344 31.585938 24 31.140625 L 24 18.855469 C 23.332031 18.683594 22.695313 18.351563 22.171875 17.828125 C 20.855469 16.511719 20.664063 14.511719 21.566406 12.980469 L 16.941406 8.355469 L 3.207031 22.089844 C 1.597656 23.695313 1.597656 26.304688 3.207031 27.910156 L 22.089844 46.792969 C 22.890625 47.597656 23.945313 48 25 48 C 26.054688 48 27.109375 47.597656 27.910156 46.792969 L 46.792969 27.910156 C 48.402344 26.304688 48.402344 23.695313 46.792969 22.089844 Z "
                      ></path>
                    </g>
                  </svg>
                </v-btn>
              </template>
              <v-btn @click="gitlab = true" fab dark small color="purple darken-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="26"
                  height="26"
                  viewBox="0 0 50 50"
                  style=" fill:#fff;"
                >
                  <g id="surface1">
                    <path
                      style=" "
                      d="M 38.011719 4 C 37.574219 3.996094 37.183594 4.273438 37.046875 4.691406 L 32.074219 20 L 17.925781 20 L 12.953125 4.691406 C 12.820313 4.289063 12.449219 4.011719 12.023438 4 C 11.597656 3.992188 11.214844 4.25 11.0625 4.648438 L 5.070313 20.640625 C 5.066406 20.640625 5.066406 20.644531 5.0625 20.648438 L 2.0625 28.648438 C 1.90625 29.070313 2.046875 29.542969 2.414063 29.808594 L 24.40625 45.800781 L 24.410156 45.808594 C 24.414063 45.808594 24.414063 45.808594 24.414063 45.8125 C 24.425781 45.820313 24.441406 45.828125 24.453125 45.835938 C 24.46875 45.84375 24.480469 45.855469 24.496094 45.863281 C 24.5 45.863281 24.5 45.867188 24.503906 45.867188 C 24.503906 45.867188 24.507813 45.871094 24.511719 45.871094 C 24.515625 45.875 24.519531 45.878906 24.527344 45.878906 C 24.53125 45.882813 24.539063 45.886719 24.542969 45.890625 C 24.5625 45.898438 24.585938 45.910156 24.609375 45.917969 C 24.609375 45.917969 24.609375 45.917969 24.609375 45.921875 C 24.632813 45.929688 24.65625 45.9375 24.675781 45.945313 C 24.679688 45.945313 24.679688 45.945313 24.683594 45.949219 C 24.699219 45.953125 24.714844 45.957031 24.734375 45.964844 C 24.742188 45.964844 24.75 45.96875 24.761719 45.96875 C 24.761719 45.972656 24.761719 45.972656 24.761719 45.96875 C 24.78125 45.976563 24.800781 45.980469 24.820313 45.984375 C 24.847656 45.988281 24.871094 45.992188 24.898438 45.996094 C 24.9375 45.996094 24.980469 46 25.019531 46 C 25.058594 45.996094 25.09375 45.996094 25.128906 45.988281 C 25.144531 45.988281 25.15625 45.988281 25.171875 45.984375 C 25.171875 45.984375 25.175781 45.984375 25.179688 45.984375 C 25.1875 45.980469 25.191406 45.980469 25.199219 45.980469 C 25.203125 45.980469 25.207031 45.976563 25.214844 45.976563 C 25.222656 45.972656 25.234375 45.972656 25.242188 45.96875 C 25.257813 45.964844 25.269531 45.960938 25.28125 45.957031 C 25.289063 45.957031 25.292969 45.957031 25.296875 45.953125 C 25.300781 45.953125 25.304688 45.953125 25.308594 45.953125 C 25.324219 45.945313 25.34375 45.9375 25.359375 45.933594 C 25.378906 45.925781 25.394531 45.917969 25.410156 45.910156 C 25.414063 45.910156 25.414063 45.910156 25.417969 45.90625 C 25.421875 45.90625 25.425781 45.90625 25.429688 45.902344 C 25.4375 45.898438 25.445313 45.894531 25.453125 45.890625 C 25.476563 45.878906 25.496094 45.867188 25.515625 45.855469 C 25.523438 45.851563 25.527344 45.847656 25.53125 45.84375 C 25.535156 45.84375 25.539063 45.839844 25.542969 45.839844 C 25.558594 45.828125 25.574219 45.820313 25.589844 45.808594 L 25.597656 45.796875 L 47.589844 29.808594 C 47.953125 29.542969 48.09375 29.070313 47.9375 28.648438 L 44.945313 20.675781 C 44.941406 20.667969 44.9375 20.65625 44.9375 20.648438 L 38.9375 4.648438 C 38.789063 4.261719 38.425781 4.003906 38.011719 4 Z M 8.066406 22 L 16.472656 22 L 22.328125 40.015625 Z M 33.527344 22 L 41.933594 22 L 27.671875 40.015625 Z M 6.3125 23.007813 L 19.6875 39.902344 L 4.203125 28.640625 Z M 43.6875 23.007813 L 45.796875 28.640625 L 30.3125 39.902344 Z "
                    ></path>
                  </g>
                </svg>
              </v-btn>
              <v-btn @click="bitbucket = true" fab dark small color="indigo darken-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="26"
                  height="26"
                  viewBox="0 0 50 50"
                  style=" fill:#fff;"
                >
                  <g id="surface1">
                    <path
                      style=" "
                      d="M 25 3 C 13.941406 3 5 5.523438 5 8.742188 L 5.117188 9.3125 L 8 28 C 8 31.214844 15.941406 34 25 34 C 34.058594 34 42 31.214844 42 28 L 44.882813 9.3125 L 45 8.742188 C 45 5.523438 36.058594 3 25 3 Z M 25 6 C 32.710938 6 39 7.515625 39 9.5 C 39 11.484375 32.710938 13 25 13 C 17.289063 13 11 11.484375 11 9.5 C 11 7.515625 17.289063 6 25 6 Z M 25 18 C 28.359375 18 31 20.640625 31 24 C 31 27.359375 28.359375 30 25 30 C 21.640625 30 19 27.359375 19 24 C 19 20.640625 21.640625 18 25 18 Z M 25 21 C 23.34375 21 22 22.34375 22 24 C 22 25.65625 23.34375 27 25 27 C 26.65625 27 28 25.65625 28 24 C 28 22.34375 26.65625 21 25 21 Z M 10.761719 33.410156 L 12.058594 42.617188 C 12.058594 44.996094 17.894531 46.941406 24.714844 46.996094 C 31.53125 46.941406 37.363281 44.992188 37.363281 42.617188 L 38.625 33.671875 C 34.957031 35.199219 29.902344 36 25 36 C 19.820313 36 14.464844 35.109375 10.761719 33.410156 Z "
                    ></path>
                  </g>
                </svg>
              </v-btn>
              <v-btn fab dark small @click="terminal = true" color="blue-grey darken-2">
                <v-icon>computer</v-icon>
              </v-btn>
            </v-speed-dial>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'

const Hashids = require('hashids')

import axios from 'axios'

export default {
  name: 'GerenciarFolha',
  data() {
    return {
      generateGitKey: false,
      startLeaf: false,
      stopLeaf: false,
      ativarManutencaoLeaf: false,
      desativarManutencaoLeaf: false,
      habilitarSSLLeaf: false,
      desabilitarSSLLeaf: false,
      rebuildLeaf: false,
      treeChange: false,
      scaleLeaf: false,
      planChange: false,
      renameLeaf: false,
      deleteLeaf: false,
      show: false,
      show2: false,
      payload: {
        id: '',
        tree: '',
        plano: '',
        web: '',
        nome: '',
        twig: ''
      },
      value: [0, 2, 5, 9, 5],
      gitlab: false,
      terminal: false,
      bitbucket: false,
      e1: 1,
      e2: 1,
      e3: 1,
      memoriaGraph: [],
      memoriaTimeInfo: [],
      cpuGraph: [],
      cpuTimeInfo: []
    }
  },

  computed: {
    ...mapGetters({
      leaf: 'leaves/leaf',
      twig: 'twig/twig',
      plans: 'leafPlan/plans',
      servers: 'servers/servers',
      logs: 'logs/logs',
      commits: 'leaves/commits'
    })
  },

  methods: {
    openLink(link) {
      window.open(link, '_blank')
    },
    gitKeyGenerate() {
      this.$store.dispatch('leaves/generateGitkey', this.leaf.id)
    },
    leafStart() {
      this.$store.dispatch('leaves/startLeaf', this.leaf.id)
    },
    leafStop() {
      this.$store.dispatch('leaves/stopLeaf', this.leaf.id)
    },
    manutencaoAtivarLeaf() {
      this.$store.dispatch('leaves/activeMaintenance', this.leaf.id)
    },
    manutencaoDesativarLeaf() {
      this.$store.dispatch('leaves/desactiveMaintenance', this.leaf.id)
    },
    sslHabilitarLeaf() {
      this.$store.dispatch('leaves/activeSSL', this.leaf.id)
    },
    sslDesabilitarLeaf() {
      this.$store.dispatch('leaves/desabilitarSSL', this.leaf.id)
    },
    leafRebuild() {
      this.$store.dispatch('leaves/rebuildLeaf', this.leaf.id)
    },
    changeTree() {
      this.$store.dispatch('servers/getServers')
      this.treeChange = true
    },
    treeChanging() {
      this.payload.id = this.leaf.id
      this.$store.dispatch('leaves/changeTree', this.payload)
      this.payload = {
        id: '',
        tree: '',
        plano: '',
        web: '',
        nome: '',
        twig: ''
      }
    },
    leafScale() {
      this.payload.id = this.leaf.id
      this.$store.dispatch('leaves/scaleLeaf', this.payload)
      this.payload = {
        id: '',
        tree: '',
        plano: '',
        web: '',
        nome: '',
        twig: ''
      }
    },
    changePlan() {
      this.$store.dispatch('leafPlan/getAllPlans')
      this.planChange = true
    },
    planChanging() {
      this.payload.id = this.leaf.id
      this.$store.dispatch('leaves/alterarPlano', this.payload)
      this.payload = {
        id: '',
        tree: '',
        plano: '',
        web: '',
        nome: '',
        twig: ''
      }
    },
    shuffleName() {
      var generate = require('project-name-generator')

      let a = generate({ number: true }).dashed

      this.payload.nome = a
    },
    lowering() {
      this.payload.nome = this.payload.nome
        .toLowerCase()
        .replace(/[^a-zA-Z0-9]/g, '-')
    },
    leafRename() {
      this.payload.id = this.leaf.id
      this.$store.dispatch('leaves/renomearLeaf', this.payload)
      this.payload = {
        id: '',
        tree: '',
        plano: '',
        web: '',
        nome: '',
        twig: ''
      }
    },
    leafDelete() {
      this.payload.id = this.leaf.id
      this.payload.twig = this.twig.id
      this.$store.dispatch('leaves/deleteLeaf', this.payload)
      this.$router.push('/galhos')
    },
    backToTwigs() {
      this.$router.push('/galhos')
    },
    backToTwig() {
      this.$router.back()
    },
    getMemoryUsage() {
      axios
        .get(
          `https://influx.cloudforestdns.com/query?db=metrica&q=SELECT mean("value") FROM "memory_usage" WHERE "container_name"='${
            this.leaf.nome
          }.web.1' AND time >= now() - 10m GROUP BY time(20s), "machine", "container_name" ORDER BY time ASC limit 100`
        )
        .then(response => this.filtrarGrafico(response.data))
    },
    filtrarGraficoCPU(string) {
      var json2 = JSON.stringify(string)
      let json = JSON.parse(json2)
      let lista = []
      let tempo = []

      json['results'][0]['series'][0]['values'].forEach(element => {
        if (element[1] != null) {
          lista.push(element[1] / 1000000000)
          tempo.push(element[0])
        }
      })

      this.cpuTimeInfo = tempo
      this.cpuGraph = lista
    },
    filtrarGrafico(string) {
      var json2 = JSON.stringify(string)
      let json = JSON.parse(json2)
      let lista = []
      let tempo = []

      json['results'][0]['series'][0]['values'].forEach(element => {
        if (element[1] != null) {
          lista.push(element[1])
          tempo.push(element[0])
        }
      })

      this.memoriaTimeInfo = tempo
      this.memoriaGraph = lista
    },
    humanizeMemory() {
      let a = this.memoriaGraph[this.memoriaGraph.length - 1]
      return this.conversor(a)
    },
    humanizeCPU() {
      let a = this.cpuGraph[this.cpuGraph.length - 1]
      return this.conversorCPU(a)
    },
    conversor(bytes, decimals) {
      if (bytes == 0) return '0 Bytes'
      var k = 1024,
        dm = decimals <= 0 ? 0 : decimals || 2,
        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k))
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
    },
    conversorCPU(bytes, decimals) {
      if (bytes == 0) return '0 Bytes'
      var k = 1000000000,
        dm = decimals <= 0 ? 0 : decimals || 2,
        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k))
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
    },
    getLast(array) {
      return array[array.length - 1]
    }
  },

  watch: {
    leaf(val) {
      if (val.id > 0) {
        this.$store.dispatch('leaves/getCommits', this.leaf.id)
      }
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()

    let plaintext = this.Hashids.decode(this.$route.params.leaf)

    this.$store.dispatch('leaves/getLeaf', plaintext)

    this.$store.dispatch('logs/listarLogsLeaf', plaintext)

    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  },

  created() {
    this.getMemoryUsage()
    this.interval = setInterval(() => this.getMemoryUsage(), 20000)
  }
}
</script>
