<template>
  <div class="gerenciarpostgre">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm10 class="text-truncate">
          <v-breadcrumbs divider="/" large>
            <v-breadcrumbs-item class="title" @click="backToLakes()">Meus Lagos</v-breadcrumbs-item>
            <v-breadcrumbs-item class="title" @click="backToLake()">{{ lake.nome }}</v-breadcrumbs-item>
            <v-breadcrumbs-item disabled class="title">Gerenciador de Arquivos</v-breadcrumbs-item>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-container fluid>
          <v-layout row wrap>
            <v-flex sm12>
              <v-toolbar flat color="white">
                <v-toolbar-title>Arquivos</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" dark @click="uploadArquivo = true">upload de arquivo</v-btn>
              </v-toolbar>
              <v-data-table :headers="headers" :items="itens" item-key="name">
                <template slot="items" slot-scope="props">
                  <tr>
                    <td>{{ props.item.nome }}</td>
                    <td>{{ conversor(props.item.tamanho) }}</td>
                    <td>{{ props.item.date | moment('from') }}</td>
                    <td>
                      <v-btn flat icon color="primary" @click="download(props.item.nome)">
                        <v-icon>get_app</v-icon>
                      </v-btn>
                    </td>
                    <td>
                      <v-btn
                        flat
                        icon
                        color="red darken-2"
                        @click="
                          ;(itemDelete = true), (payload.idItem = props.item.id)
                        "
                      >
                        <v-icon>delete_forever</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </v-layout>
    </v-container>

    <v-dialog v-model="uploadArquivo" max-width="400">
      <v-card>
        <v-card-title class="headline">Upload de Arquivo</v-card-title>

        <v-card-text>
          <v-text-field
            label="Select Image"
            @click="pickFile"
            v-model="imageName"
            prepend-icon="attach_file"
          ></v-text-field>
          <input
            type="file"
            style="display: none"
            ref="file"
            accept="file/*"
            @change="onFilePicked"
          >
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="uploadArquivo = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="upload(), (uploadArquivo = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="itemDelete" max-width="400">
      <v-card>
        <v-card-title class="headline">Deletar Arquivo</v-card-title>

        <v-card-text>
          Deseja mesmo deletar este arquivo? Esta ação não poderá ser
          desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="itemDelete = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteItem(), (itemDelete = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import { mapGetters } from 'vuex'

const Hashids = require('hashids')

export default {
  name: 'GerenciarPostgre',
  data() {
    return {
      uploadArquivo: false,
      itemDelete: false,
      headers: [
        {
          text: 'Arquivo',
          value: 'nome'
        },
        { text: 'Tamanho', value: 'tamanho' },
        { text: 'Data', value: 'date' },
        { text: 'Download', value: 'download', sortable: false },
        { text: 'Delete', value: 'del', sortable: false }
      ],
      imageName: '',
      imageUrl: '',
      imageFile: '',
      payload: {
        idLake: '',
        idItem: '',
        nome: ''
      }
    }
  },

  computed: {
    ...mapGetters({
      itens: 'lake/itens',
      lake: 'lake/lake',
      lakes: 'lake/lakes'
    })
  },

  methods: {
    backToLakes() {
      this.$router.push('/lagos')
    },
    backToLake() {
      this.$router.back()
    },
    pickFile() {
      this.$refs.file.click()
    },
    onFilePicked(e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },
    upload() {
      const axios = require('axios')

      var bodyFormData = new FormData()
      bodyFormData.set('key', this.lake.key)
      bodyFormData.append('file', this.imageFile)

      axios({
        method: 'post',
        url: 'https://fileserver.tree-ny-01.cloudforestdns.com/uploadFile',
        data: bodyFormData,
        config: {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      }).then(() => {
        this.$store.dispatch('lake/getItensLake', this.lake.nome)
        this.$store.dispatch('lake/getLake', this.lake.id)
        this.$store.dispatch('lake/getLakesUser')
      })
    },
    conversor(bytes, decimals) {
      if (bytes == 0) return '0 Bytes'
      var k = 1024,
        dm = decimals <= 0 ? 0 : decimals || 2,
        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k))
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
    },
    download(arquivo) {
      window.location.href = `https://fileserver.tree-ny-01.cloudforestdns.com/downloadFile/${
        this.lake.key
      }/${arquivo}`
    },
    deleteItem() {
      this.payload.idLake = this.lake.id
      this.payload.nome = this.lake.nome
      this.$store.dispatch('lake/removeItem', this.payload)
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()

    let plaintext = this.Hashids.decode(this.$route.params.lake)

    this.$store.dispatch('lake/getLake', plaintext)

    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  },

  watch: {
    lake(val) {
      if (val.id > 0) {
        this.$store.dispatch('lake/getItensLake', this.lake.nome)
      }
    }
  }
}
</script>
