<template>
  <div class="gerenciarpostgre">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm6 class="text-truncate">
          <v-breadcrumbs divider="/" large>
            <v-breadcrumbs-item class="title" @click="backToTwigs()">Meus Twigs</v-breadcrumbs-item>
            <v-breadcrumbs-item class="title" @click="backToTwig()">
              {{
              twig.nome
              }}
            </v-breadcrumbs-item>
            <v-breadcrumbs-item disabled class="title">
              {{
              mysql.nomeRole
              }}
            </v-breadcrumbs-item>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex sm12>
          <v-container fluid>
            <v-layout row wrap>
              <v-flex sm6>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex sm6>
                      <span class="title primary--text">Informações</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex
                      sm6
                      class="subheading primary--text font-weight-medium"
                    >{{ mysql.nomeRole }}</v-flex>
                    <v-flex sm6>
                      <span
                        v-show="mysql.ativo"
                        class="subheading green--text text--darken-2 font-weight-bold"
                      >Ativo</span>
                      <span
                        v-show="!mysql.ativo"
                        class="subheading red--text text--darken-2 font-weight-bold"
                      >Inativo</span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Servidor de Acesso</span>
                    </v-flex>
                    <v-flex sm6>
                      <span
                        class="text-xs-center subheading font-weight-bold"
                      >mysql.cloudforest.com.br</span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Porta de Acesso</span>
                    </v-flex>
                    <v-flex sm6>
                      <span class="text-xs-center subheading font-weight-bold">3036</span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Plano</span>
                    </v-flex>
                    <v-flex sm6>
                      <span class="subheading font-weight-bold">
                        {{
                        mysql.plano
                        }}
                      </span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Nome da Role</span>
                    </v-flex>
                    <v-flex sm6>
                      <span class="subheading font-weight-bold">
                        {{
                        mysql.nomeRole
                        }}
                      </span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex shrink>
                      <span class="subheading font-weight-medium">Senha da Role</span>
                    </v-flex>
                    <v-flex grow>
                      <span class="ml-3 text-xs-center subheading font-weight-bold">
                        {{
                        mysql.senhaRole
                        }}
                      </span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <v-expansion-panel>
                        <v-expansion-panel-content>
                          <template v-slot:header>
                            <div class="font-weight-bold">Minhas Databases</div>
                          </template>
                          <v-card v-for="db in dbs" :key="db.id">
                            <v-card-text>
                              <v-container pa-0>
                                <v-layout>
                                  <v-flex grow class="font-weight-bold">{{db.nomeDb}}</v-flex>
                                  <v-flex shrink>
                                    <v-icon flat @click="middleware(db)" color="red darken-2">delete</v-icon>
                                  </v-flex>
                                </v-layout>
                              </v-container>
                            </v-card-text>
                          </v-card>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
              <v-flex sm6>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex sm12>
                      <span class="title primary--text">Registro</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container v-if="logs.length == 0">
                  <v-layout align-center justify-center row fill-height>
                    <v-flex shrink>
                      <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
                    </v-flex>
                    <v-flex shrink>
                      <span
                        class="headline font-weight-bold grey--text text--lighten-1"
                      >Nenhum registro encontrado</span>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-container fluid v-if="logs.length > 0">
                  <v-layout
                    align-center
                    justify-center
                    row
                    fill-height
                    v-for="log in logs"
                    :key="log.id"
                  >
                    <v-flex>
                      <span class="font-weight-bold">{{ log.texto }}</span>
                    </v-flex>
                    <v-flex sm3>
                      <span class="font-weight-medium">Autor - {{ log.autor }}</span>
                    </v-flex>
                    <v-flex sm2>
                      <span class="font-weight-medium">{{ log.data | moment('from') }}</span>
                    </v-flex>
                    <v-flex sm1>{{log.tipo}}</v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="changePlan" max-width="400">
      <v-card>
        <v-card-title class="headline">Mudança de Plano</v-card-title>

        <v-card-text>
          <v-select
            :items="mysqlPlans"
            item-text="nomePlano"
            item-value="codPlano"
            label="Plano"
            v-model="payload.plano"
          ></v-select>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="changePlan = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="changingPlan(), (changePlan = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deleteMysql" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja remover este MySQL?</v-card-title>

        <v-card-text>Deseja mesmo remover este MySQL?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="deleteMysql = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteAddon(), (deleteMysql = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dbNew" max-width="400">
      <v-card>
        <v-card-title class="headline">Adicionar Novo DB</v-card-title>

        <v-card-text>Deseja mesmo adicionar um novo DB a este Adicional?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="dbNew = false">Cancelar</v-btn>

          <v-btn color="green darken-1" flat="flat" @click="newDb(), (dbNew = false)">Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dbDelete" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover DB</v-card-title>

        <v-card-text>Deseja mesmo remover este DB?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="dbDelete = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteDb(), (dbDelete = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="addonDelete" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover Adicional MySQL</v-card-title>

        <v-card-text>Deseja mesmo remover este Adicional MySQL?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="addonDelete = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteAddon(), (addonDelete = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-menu open-on-click top left offset-y nudge-top="10" style="border-radius:14px;">
              <template v-slot:activator="{ on }">
                <v-btn color="indigo darken-2" dark fab v-on="on">
                  <v-icon>dashboard</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-tile @click="dbNew = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>add_circle</v-icon>Adicionar Database
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="planChange()">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>shop_two</v-icon>Mudar Plano
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="deleteMysql = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>delete</v-icon>Deletar Mysql
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'

const Hashids = require('hashids')

export default {
  name: 'GerenciarPostgre',
  data() {
    return {
      show: false,
      changePlan: false,
      deleteMysql: false,
      dbNew: false,
      dbDelete: false,
      addonDelete: false,
      payload: {
        plano: '',
        addon: '',
        twig: ''
      },
      db: {
        role: '',
        id: '',
        nome: ''
      },
      logs: []
    }
  },

  computed: {
    ...mapGetters({
      mysql: 'mysql/mysql',
      twig: 'twig/twig',
      dbs: 'mysql/dbs',
      mysqlPlans: 'mysqlPlan/mysqlPlans'
    })
  },

  methods: {
    planChange() {
      this.$store.dispatch('mysqlPlan/getmysqlPlans')
      this.changePlan = true
    },
    changingPlan() {
      this.payload.addon = this.mysql.id
      this.$store.dispatch('postgres/alterarPlanoPostgre', this.payload)
      this.payload = {
        plano: '',
        addon: '',
        twig: ''
      }
    },
    deleteAddon() {
      this.payload.twig = this.twig.id
      this.payload.addon = this.mysql.nomeRole
      this.$store.dispatch('mysql/removeAddon', this.payload)
      this.$router.push('/galhos')
    },
    backToTwigs() {
      this.$router.push('/galhos')
    },
    backToTwig() {
      this.$router.back()
    },
    newDb() {
      this.db.id = this.mysql.id
      this.db.role = this.mysql.nomeRole
      this.$store.dispatch('mysql/newDbAddon', this.db)
    },
    deleteDb() {
      this.db.role = this.mysql.nomeRole
      this.$store.dispatch('mysql/removeDB', this.db)
    },
    middleware(db) {
      this.db.nome = db.nomeDb
      this.dbDelete = true
    }
  },

  watch: {
    mysql(val) {
      if (val.id > 0) {
        this.$store.dispatch('mysql/listarDbsAddon', val.nomeRole)
      }
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()

    let plaintext = this.Hashids.decode(this.$route.params.mysql)

    this.$store.dispatch('mysql/buscarMysqlAddon', plaintext)
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
