<template>
  <div class="gerenciarlago">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm6 class="text-truncate">
          <v-breadcrumbs divider="/" large>
            <v-breadcrumbs-item class="title" @click="backToLakes()">Meus Lakes</v-breadcrumbs-item>
            <v-breadcrumbs-item disabled class="title">
              {{
              lake.nome
              }}
            </v-breadcrumbs-item>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
      <v-layout align-start justify-center row fill-height>
        <v-flex sm12>
          <v-container fluid>
            <v-layout align-start justify-center row fill-height>
              <v-flex sm6>
                <v-container fluid>
                  <v-layout align-start justify-start row fill-height>
                    <v-flex sm4>
                      <span class="title primary--text">Informações</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container fluid>
                  <v-layout align-start justify-center row fill-height>
                    <v-flex sm6 class="subheading primary--text font-weight-medium">{{ lake.nome }}</v-flex>
                    <v-flex sm6>
                      <span
                        v-show="!lake.bloqueado"
                        class="subheading green--text text--darken-2 font-weight-bold"
                      >Desbloqueado</span>
                      <span
                        v-show="lake.bloqueado"
                        class="subheading red--text text--darken-2 font-weight-bold"
                      >Bloqueado</span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Uso</span>
                    </v-flex>
                    <v-flex sm6>
                      <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <v-progress-linear
                            :height="14"
                            :value="progressfy(lake.tamanho, lake.limite)"
                            background-color="secondary"
                            background-opacity="0.3"
                            color="primary"
                            v-on="on"
                          ></v-progress-linear>
                        </template>
                        <span>{{conversor(lake.tamanho)}} de {{conversor(lake.limite)}}</span>
                      </v-tooltip>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex grow>
                      <span class="subheading font-weight-medium">Chave de Acesso</span>
                    </v-flex>
                    <v-flex shrink>
                      <span class="ml-3 text-xs-center subheading font-weight-bold">
                        {{
                        lake.key
                        }}
                      </span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
              <v-flex sm6>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex sm6>
                      <span class="title primary--text">Usuarios</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container v-if="usersLake.length == 0">
                  <v-layout align-center justify-center row fill-height>
                    <v-flex shrink>
                      <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
                    </v-flex>
                    <v-flex shrink>
                      <span
                        class="headline font-weight-bold grey--text text--lighten-1"
                      >A equipe ainda não possui registros</span>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-container fluid v-if="usersLake.length > 0">
                  <v-layout row wrap v-for="userL in usersLake" :key="userL.id">
                    <v-flex sm1 class="hidden-lg-and-down">
                      <v-avatar>
                        <v-img
                          :src="
                            'https://www.gravatar.com/avatar/' +
                              userL.usuario.hashgravatar + '?d=mp'
                          "
                          alt="avatar"
                        />
                      </v-avatar>
                    </v-flex>
                    <v-flex sm4>
                      <v-flex sm12>
                        <span
                          class="title font-weight-medium grey--text text--darken-2"
                        >{{ userL.usuario.nome }}</span>
                      </v-flex>
                    </v-flex>
                    <v-flex sm2 v-show="userL.lake.owner == userL.usuario.id">
                      <v-chip color="teal darken-2" text-color="white">Owner</v-chip>
                    </v-flex>
                    <v-flex sm2 v-show="userL.lake.owner != userL.usuario.id">
                      <v-chip color="grey" text-color="white">Membro</v-chip>
                    </v-flex>
                    <v-flex sm3>
                      <v-menu offset-y>
                        <v-btn slot="activator" color="primary" dark flat>
                          <v-icon>settings</v-icon>
                        </v-btn>
                        <v-list>
                          <v-list-tile
                            @click="
                              ;(ownerPass = true),
                                (payload.usuario = userL.usuario.id)
                            "
                          >
                            <v-list-tile-title>Passar Owner</v-list-tile-title>
                          </v-list-tile>
                          <v-list-tile
                            @click="
                              ;(removerUser = true),
                                (payload.usuario = userL.usuario.id)
                            "
                          >
                            <v-list-tile-title>Remover Usuario</v-list-tile-title>
                          </v-list-tile>
                        </v-list>
                      </v-menu>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex sm6>
          <v-container fluid>
            <v-layout row wrap align-center>
              <v-flex sm12>
                <span class="title primary--text">Registro</span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container v-if="logs.length == 0">
            <v-layout align-center justify-center row fill-height>
              <v-flex shrink>
                <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
              </v-flex>
              <v-flex shrink>
                <span
                  class="headline font-weight-bold grey--text text--lighten-1"
                >Nenhum registro encontrado</span>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container fluid v-if="logs.length > 0">
            <v-layout align-center justify-center row fill-height v-for="log in logs" :key="log.id">
              <v-flex>
                <span class="font-weight-bold">{{ log.texto }}</span>
              </v-flex>
              <v-flex sm3>
                <span class="font-weight-medium">Autor - {{ log.autor }}</span>
              </v-flex>
              <v-flex sm2>
                <span class="font-weight-medium">{{ log.data | moment('from') }}</span>
              </v-flex>
              <v-flex sm1>{{log.tipo}}</v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex sm6>
          <v-container fluid>
            <v-layout row wrap align-center>
              <v-flex sm12>
                <span class="title primary--text">Gastos</span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container>
            <v-layout>
              <v-flex>
                <v-sparkline
                  :value="value"
                  :gradient="['#2AD4FF', '#00FF66']"
                  smooth="10"
                  line-width="2"
                  stroke-linecap="round"
                  gradient-direction="top"
                  auto-draw
                  style="height:100%; width:90%;"
                ></v-sparkline>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container>
            <v-layout>
              <v-flex>
                <v-sparkline
                  :value="value"
                  :gradient="['#2AD4FF', '#00FF66']"
                  smooth="10"
                  line-width="2"
                  stroke-linecap="round"
                  gradient-direction="top"
                  auto-draw
                  style="height:100%; width:90%;"
                ></v-sparkline>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn @click="manageFiles()" color="orange darken-2" dark fab v-on="on">
                  <v-icon>folder</v-icon>
                </v-btn>
              </template>
              <span>Gerenciador de Arquivos</span>
            </v-tooltip>
          </v-flex>
          <v-flex shrink>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="teal darken-2" dark fab @click="addUser = true" v-on="on">
                  <v-icon>person_add</v-icon>
                </v-btn>
              </template>
              <span>Adicionar Usuario</span>
            </v-tooltip>
          </v-flex>
          <v-flex shrink>
            <v-menu open-on-click top left offset-y nudge-top="10" style="border-radius:14px;">
              <template v-slot:activator="{ on }">
                <v-btn color="indigo darken-2" dark fab v-on="on">
                  <v-icon>dashboard</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-tile @click="limitUpgrade = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>trending_up</v-icon>Upgrade
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="limitDowngrade = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>trending_down</v-icon>Downgrade
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="delLake = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>delete</v-icon>Deletar Lake
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-container>
    </div>

    <v-dialog v-model="delLake" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover este Lago?</v-card-title>

        <v-card-text>
          Deseja mesmo remover este Lago? Todos os arquivos serão excluidos,
          esta ação não poderá ser desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="delLake = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteLake(), (delLake = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="limitUpgrade" max-width="400">
      <v-card>
        <v-card-title class="headline">Upgrade de Limite</v-card-title>

        <v-card-text>
          <v-select
            v-model="payload.limite"
            :hint="`${payload.limite.convertido} bytes`"
            :items="tamanhos"
            item-text="tamanho"
            item-value="convertido"
            label="Limite de Espaço"
            persistent-hint
            return-object
            single-line
          ></v-select>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="limitUpgrade = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="upgradeLimit(), (limitUpgrade = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="limitDowngrade" max-width="400">
      <v-card>
        <v-card-title class="headline">Downgrade de Limite</v-card-title>

        <v-card-text>
          <v-select
            v-model="payload.limite"
            :hint="`${payload.limite.convertido} bytes`"
            :items="tamanhos"
            item-text="tamanho"
            item-value="convertido"
            label="Limite de Espaço"
            persistent-hint
            return-object
            single-line
          ></v-select>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="limitDowngrade = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="downgradeLimit(), (limitDowngrade = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="generateLakeKey" max-width="400">
      <v-card>
        <v-card-title class="headline">Gerar Nova Key</v-card-title>

        <v-card-text>
          Deseja mesmo gerar uma nova Key? Todos os serviços que consomem a key
          anterior não terão mais acesso ao seu lago, esta ação não poderá ser
          desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="generateLakeKey = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="generateKey(), (generateLakeKey = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="addUser" max-width="600">
      <v-card>
        <v-card-title class="headline">Adicionar Usuario</v-card-title>

        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm8>
                <v-menu offset-y full-width>
                  <v-text-field
                    slot="activator"
                    v-model="search"
                    @keyup="keyup"
                    label="Procurar Membro"
                  ></v-text-field>
                  <v-list v-if="data.length > 0">
                    <v-list-tile
                      style="margin-bottom:1%;"
                      v-for="item in data"
                      :key="item.id"
                      @click="selectItem(item)"
                    >
                      <v-container fluid pa-0>
                        <v-layout row wrap>
                          <v-flex sm2>
                            <v-avatar size="40">
                              <v-img
                                :src="
                                  'https://www.gravatar.com/avatar/' +
                                    item.hashgravatar
                                "
                                alt="avatar"
                              />
                            </v-avatar>
                          </v-flex>
                          <v-flex sm10>
                            <v-container fluid pa-0>
                              <v-layout row wrap>
                                <v-flex>
                                  <span class="subheading font-weight-bold">
                                    {{
                                    item.nome
                                    }}
                                  </span>
                                </v-flex>
                              </v-layout>
                              <v-layout row wrap>
                                <v-flex>
                                  <span>{{ item.email }}</span>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-list-tile>
                  </v-list>
                  <v-list v-else>
                    <v-list-tile>Digite para procurar um membro</v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex sm12>
                <v-container fluid>
                  <v-layout v-show="selected.id > 0">
                    <v-flex sm3>
                      <v-avatar size="128">
                        <v-img
                          :src="
                            'https://www.gravatar.com/avatar/' +
                              selected.hashgravatar
                          "
                          alt="avatar"
                        />
                      </v-avatar>
                    </v-flex>
                    <v-flex sm6>
                      <v-container fluid>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <span class="title">{{ selected.nome }}</span>
                          </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <span class="subheading">{{ selected.email }}</span>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="addUser = false">Cancelar</v-btn>

          <v-btn color="green darken-1" flat="flat" @click="userAdd(), (addUser = false)">Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="removerUser" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover este Usuario?</v-card-title>

        <v-card-text>Deseja mesmo remover este Usuario?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="removerUser = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="userRemove(), (removerUser = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="ownerPass" max-width="400">
      <v-card>
        <v-card-title class="headline">Passar o Owner?</v-card-title>

        <v-card-text>Deseja mesmo passar o owner para este Usuario?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="ownerPass = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="passOwner(), (ownerPass = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'
import { _ } from 'vue-underscore'

const Hashids = require('hashids')

export default {
  name: 'GerenciarLago',
  data() {
    return {
      show2: false,
      limitUpgrade: false,
      limitDowngrade: false,
      generateLakeKey: false,
      removerUser: false,
      ownerPass: false,
      delLake: false,
      addUser: false,
      payload: {
        id: '',
        limite: '',
        usuario: ''
      },
      tamanhos: [
        { tamanho: '100 MB', convertido: '104857600' },
        { tamanho: '300 MB', convertido: '314572800' },
        { tamanho: '500 MB', convertido: '524288000' },
        { tamanho: '1 GB', convertido: '1073741824' },
        { tamanho: '10 GB', convertido: '10737418240' },
        { tamanho: '50 GB', convertido: '53687091200' },
        { tamanho: '100 GB', convertido: '107374182400' },
        { tamanho: '300 GB', convertido: '322122547200' },
        { tamanho: '500 GB', convertido: '536870912000' },
        { tamanho: '1 TB', convertido: '1099511627776' },
        { tamanho: '2 TB', convertido: '2199023255552' },
        { tamanho: '3 TB', convertido: '3298534883328' },
        { tamanho: '4 TB', convertido: '4398046511104' },
        { tamanho: '5 TB', convertido: '5497558138880' },
        { tamanho: '6 TB', convertido: '6597069766656' },
        { tamanho: '7 TB', convertido: '7696581394432' },
        { tamanho: '8 TB', convertido: '8796093022208' },
        { tamanho: '9 TB', convertido: '9895604649984' },
        { tamanho: '10 TB', convertido: '10995116277760' }
      ],
      selected: '',
      search: '',
      closed: false,
      show: false,
      data: [],
      fab: true,
      dash: false,
      value: [0, 2, 5, 9, 5],
      logs: []
    }
  },

  computed: {
    ...mapGetters({
      lake: 'lake/lake',
      usersLake: 'lake/usersLake'
    })
  },

  methods: {
    backToLakes() {
      this.$router.push('/lagos')
    },
    conversor(bytes, decimals) {
      if (bytes == 0) return '0 Bytes'
      var k = 1024,
        dm = decimals <= 0 ? 0 : decimals || 2,
        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k))
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
    },
    deleteLake() {
      this.$store.dispatch('lake/deleteLake', this.lake.id)
      this.$router.push('/lagos')
    },
    upgradeLimit() {
      this.payload.id = this.lake.id
      this.payload.limite = this.payload.limite.convertido
      this.$store.dispatch('lake/upgradeLimiteLake', this.payload)
    },
    downgradeLimit() {
      this.payload.id = this.lake.id
      this.payload.limite = this.payload.limite.convertido
      this.$store.dispatch('lake/downgradeLimiteLake', this.payload)
    },
    generateKey() {
      this.$store.dispatch('lake/generateAPIKey', this.lake.id)
    },
    inputDebounce: _.debounce(function() {
      this.searchUser(this.search)
    }, 500),

    async searchUser(val) {
      try {
        let res = await this.$services.user.buscarUsuarioNomeEmail(
          val,
          this.$cookies.get('USERTOKEN')
        )
        res = this.process(res)
        this.data = res.data
      } catch (erro) {
        this.$alert('Erro!', erro, 'danger')
      }
    },
    selectItem(item) {
      this.selected = item
      this.search = ''
      this.closed = false
      this.show = true
    },

    keyup() {
      if (this.search !== '') {
        this.data = []
        this.closed = true
        this.selected = {}
        this.inputDebounce()
      }
    },

    process(data) {
      if (data instanceof Object) {
        if (data.cod >= 400 || data.status >= 400) throw data
        return data
      } else throw 'The returned data must be an object type'
    },

    userAdd() {
      this.payload.usuario = this.selected.id
      this.payload.id = this.lake.id
      this.$store.dispatch('lake/addUserLake', this.payload)
    },
    manageFiles() {
      let idNew = this.Hashids.encode(this.lake.id)
      this.$router.push(`/arquivos/${idNew}`)
    },
    userRemove() {
      this.payload.id = this.lake.id
      this.$store.dispatch('lake/removeUserLake', this.payload)
    },
    passOwner() {
      this.payload.id = this.lake.id
      this.$store.dispatch('lake/changeOwner', this.payload)
    },
    progressfy(tamanho, limite) {
      let a = tamanho / limite
      let p = a * 100
      return p
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()

    let plaintext = this.Hashids.decode(this.$route.params.lake)

    this.$store.dispatch('lake/getLake', plaintext)

    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  },

  watch: {
    lake(val) {
      if (val.id > 0) {
        this.$store.dispatch('lake/getUsersLake', this.lake.id)
      }
    }
  }
}
</script>
