<template>
  <div class="historicocarteira">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm7>
          <v-container fluid grid-list-md>
            <v-layout row wrap>
              <v-flex sm12>
                <span class="title primary--text">Créditos</span>
                <v-divider></v-divider>
                <v-container fluid grid-list-md>
                  <v-layout
                    row
                    wrap
                    v-for="credit in credits"
                    :key="credit.id"
                    mt-4
                  >
                    <v-flex sm1>
                      <v-icon>attach_money</v-icon>
                    </v-flex>
                    <v-flex sm5>
                      <span class="body-2">COD - {{ credit.codigo }}</span>
                    </v-flex>
                    <v-flex sm3>
                      <span class="body-2">
                        {{ credit.data | moment('from') }}
                      </span>
                    </v-flex>
                    <v-flex sm3>
                      <span class="green--text text--darken-2 subheading"
                        >R$ {{ credit.valor }}</span
                      >
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex sm12>
                <span class="title primary--text">Débitos</span>
                <v-divider></v-divider>
                <v-container fluid grid-list-md>
                  <v-layout
                    row
                    wrap
                    v-for="credit in credits"
                    :key="credit.id"
                    mt-4
                  >
                    <v-flex sm1>
                      <v-icon>attach_money</v-icon>
                    </v-flex>
                    <v-flex sm5>
                      <span class="body-2">COD - {{ credit.codigo }}</span>
                    </v-flex>
                    <v-flex sm3>
                      <span class="body-2">
                        {{ credit.data | moment('from') }}
                      </span>
                    </v-flex>
                    <v-flex sm3>
                      <span class="red--text text--darken-3 subheading"
                        >R$ {{ credit.valor }}</span
                      >
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex sm5>
          <v-container grid-list-md>
            <span class="title primary--text">Gastos Diários</span>
            <v-sparkline
              :value="value"
              :gradient="['#2AD4FF', '#00FF66']"
              smooth="10"
              padding="8"
              line-width="2"
              stroke-linecap="round"
              gradient-direction="top"
              auto-draw
            ></v-sparkline>
          </v-container>
          <v-container grid-list-md>
            <span class="title primary--text">Gastos Mensais</span>
            <v-sparkline
              :value="value"
              :gradient="['#2AD4FF', '#00FF66']"
              smooth="10"
              padding="8"
              line-width="2"
              stroke-linecap="round"
              gradient-direction="top"
              auto-draw
            ></v-sparkline>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'HistoricoCarteira',
  data() {
    return {
      value: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]
    }
  },

  computed: {
    ...mapGetters({
      credits: 'credit/credits'
    })
  },

  methods: {
    none() {}
  },

  beforeMount() {
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('credit/getHistoricCredit')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
