<template>
  <div class="manageteam">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm8>
          <v-breadcrumbs divider="/" large>
            <v-breadcrumbs-item class="title" @click="backToTeams()">Minhas Equipes</v-breadcrumbs-item>
            <v-breadcrumbs-item disabled class="title">
              {{
              team.nome
              }}
            </v-breadcrumbs-item>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm8>
          <v-container pa-0>
            <v-layout align-center justify-center row fill-height>
              <v-flex>
                <span class="title primary--text">Membros</span>
              </v-flex>
            </v-layout>
          </v-container>

          <v-divider></v-divider>
          <v-container fluid grid-list-md>
            <v-layout row wrap v-for="member in members" :key="member.id">
              <v-flex sm1>
                <v-avatar>
                  <v-img
                    :src="
                      'https://www.gravatar.com/avatar/' +
                        member.gravatar +
                        '?d=mp'
                    "
                    alt="avatar"
                  />
                </v-avatar>
              </v-flex>
              <v-flex>
                <v-flex sm12>
                  <span class="title font-weight-medium grey--text text--darken-2">{{ member.nome }}</span>
                </v-flex>
              </v-flex>
              <v-flex v-show="team.lider.id == member.id">
                <v-chip color="green" text-color="white">Lider</v-chip>
              </v-flex>
              <v-flex v-show="team.lider.id != member.id">
                <v-chip color="grey" text-color="white">Membro</v-chip>
              </v-flex>
              <v-flex>
                <v-chip v-if="member.nivelacesso == 5" color="red darken-4" text-color="white">Owner</v-chip>
                <v-chip
                  v-if="member.nivelacesso == 4"
                  color="teal darken-4"
                  text-color="white"
                >Billing</v-chip>
                <v-chip
                  v-if="member.nivelacesso == 3"
                  color="purple darken-4"
                  text-color="white"
                >Admin</v-chip>
                <v-chip
                  v-if="member.nivelacesso == 2"
                  color="yellow darken-4"
                  text-color="white"
                >Developer</v-chip>
                <v-chip
                  v-if="member.nivelacesso == 1"
                  color="grey darken-4"
                  text-color="white"
                >Guest</v-chip>
              </v-flex>
              <v-flex shrink>
                <v-menu offset-y>
                  <v-btn slot="activator" color="primary" dark flat>
                    <v-icon>settings</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile
                      v-show="
                        team.lider.id != member.id && team.lider.id == user.id
                      "
                      @click="
                        ;(leaderPass = true),
                          (memberSelect.membro = member.usuario.id)
                      "
                    >
                      <v-list-tile-title>Passar Liderança</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile
                      @click="
                        ;(changeLevel = true),
                          (editMember.idUsuario = member.id)
                      "
                    >
                      <v-list-tile-title>Alterar Nivel</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile
                      @click="
                        ;(removeMember = true),
                          (memberSelect.membro = member.id)
                      "
                    >
                      <v-list-tile-title>Remover Membro</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex sm4>
          <v-container pa-0>
            <v-layout align-center justify-center row fill-height>
              <v-flex>
                <span class="title primary--text">Galhos</span>
              </v-flex>
            </v-layout>
          </v-container>

          <v-divider></v-divider>
          <v-container fluid grid-list-md>
            <v-layout
              align-center
              justify-center
              row
              fill-height
              v-for="twig in twigsEquipe"
              :key="twig.id"
            >
              <v-flex class="text-truncate">
                <span
                  class="subheading font-weight-medium grey--text text--darken-3"
                >{{ twig.nome }}</span>
              </v-flex>
              <v-flex>
                <span>
                  <v-icon>cloud</v-icon>
                </span>
                <span
                  class="subheading font-weight-medium grey--text text--darken-3"
                  style="margin-left:10%;"
                >{{ twig.qtdLeaf }}</span>
              </v-flex>
              <v-flex>
                <span>
                  <v-icon>settings_system_daydream</v-icon>
                </span>
                <span
                  class="subheading font-weight-medium grey--text text--darken-3"
                  style="margin-left:10%;"
                >{{ twig.qtdAddon }}</span>
              </v-flex>
              <v-flex shrink>
                <v-menu offset-y>
                  <v-btn slot="activator" color="primary" dark flat>
                    <v-icon>settings</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile @click="manageTwig(twig)">
                      <v-list-tile-title>Gerenciar</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile
                      @click="
                        ;(addMembersTwig = true), (selecteds.twig = twig.id)
                      "
                    >
                      <v-list-tile-title>Adicionar Membros</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click=";(removeTwig = true), (twigSelect.id = twig.id)">
                      <v-list-tile-title>Remover Galho</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container>
      <v-layout align-start justify-start row fill-height>
        <v-flex>
          <v-container pa-0>
            <v-layout align-center justify-center row fill-height mt-5>
              <v-flex>
                <span class="title primary--text">Registro</span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container v-if="logs.length == 0">
            <v-layout align-center justify-center row fill-height>
              <v-flex shrink>
                <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
              </v-flex>
              <v-flex shrink>
                <span
                  class="headline font-weight-bold grey--text text--lighten-1"
                >A equipe ainda não possui registros</span>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container v-if="logs.length > 0">
            <v-layout align-center justify-center row fill-height v-for="log in logs" :key="log.id">
              <v-flex>
                <span class="font-weight-bold">{{ log.texto }}</span>
              </v-flex>
              <v-flex sm3>
                <span class="font-weight-medium">Autor - {{ log.autor }}</span>
              </v-flex>
              <v-flex sm2>
                <span class="font-weight-medium">
                  {{
                  log.data | moment('from')
                  }}
                </span>
              </v-flex>
              <v-flex sm1>{{ log.tipo }}</v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="newMember" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Adicionar Novo Membro</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm8>
                <v-menu offset-y full-width>
                  <v-text-field
                    slot="activator"
                    v-model="search"
                    @keyup="keyup"
                    label="Procurar Membro"
                  ></v-text-field>
                  <v-list v-if="data.length > 0">
                    <v-list-tile
                      style="margin-bottom:1%;"
                      v-for="item in data"
                      :key="item.id"
                      @click="selectItem(item)"
                      v-show="item.id != user.id"
                    >
                      <v-container fluid pa-0>
                        <v-layout row wrap>
                          <v-flex sm2>
                            <v-avatar size="40">
                              <v-img
                                :src="
                                  'https://www.gravatar.com/avatar/' +
                                    item.hashgravatar
                                "
                                alt="avatar"
                              />
                            </v-avatar>
                          </v-flex>
                          <v-flex sm10>
                            <v-container fluid pa-0>
                              <v-layout row wrap>
                                <v-flex>
                                  <span class="subheading font-weight-bold">{{ item.nome }}</span>
                                </v-flex>
                              </v-layout>
                              <v-layout row wrap>
                                <v-flex>
                                  <span>{{ item.email }}</span>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-list-tile>
                  </v-list>
                  <v-list v-else>
                    <v-list-tile>Digite para procurar um membro</v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
              <v-flex sm4>
                <v-select
                  :items="cargos"
                  item-text="cargo"
                  item-value="level"
                  label="Cargo"
                  v-model="memberNew.nivel"
                ></v-select>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex sm12>
                <v-container fluid>
                  <v-layout v-show="selected.id > 0">
                    <v-flex sm3>
                      <v-avatar size="128">
                        <v-img
                          :src="
                            'https://www.gravatar.com/avatar/' +
                              selected.hashgravatar
                          "
                          alt="avatar"
                        />
                      </v-avatar>
                    </v-flex>
                    <v-flex sm6>
                      <v-container fluid>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <span class="title">{{ selected.nome }}</span>
                          </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <span class="subheading">{{ selected.email }}</span>
                          </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                          <v-flex sm12>
                            <v-chip
                              v-if="memberNew.nivel == 5"
                              color="red darken-4"
                              text-color="white"
                            >Owner</v-chip>
                            <v-chip
                              v-if="memberNew.nivel == 4"
                              color="teal darken-4"
                              text-color="white"
                            >Billing</v-chip>
                            <v-chip
                              v-if="memberNew.nivel == 3"
                              color="purple darken-4"
                              text-color="white"
                            >Admin</v-chip>
                            <v-chip
                              v-if="memberNew.nivel == 2"
                              color="yellow darken-4"
                              text-color="white"
                            >Developer</v-chip>
                            <v-chip
                              v-if="memberNew.nivel == 1"
                              color="grey darken-4"
                              text-color="white"
                            >Guest</v-chip>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newMember = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newMember = false), addMember()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="changeLevel" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Alterar Nivel de Membro</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm12>
                <v-select
                  :items="cargos"
                  item-text="cargo"
                  item-value="level"
                  label="Novo Cargo"
                  v-model="editMember.nivel"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="changeLevel = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(changeLevel = false), levelChange()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="leaderPass" max-width="400">
      <v-card>
        <v-card-title class="headline">Deseja tornar este membro Lider?</v-card-title>

        <v-card-text>
          Deseja mesmo tornar este mesmo Lider? Um convite será enviado ao
          membro caso confirmado.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="leaderPass = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="passLeader(), (leaderPass = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="removeMember" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover esta Membro?</v-card-title>

        <v-card-text>Deseja mesmo remover este Membro? Esta ação não poderá ser desfeita.</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="removeMember = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="memberRemove(), (removeMember = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="leaveTeam" max-width="400">
      <v-card>
        <v-card-title class="headline">Sair da Equipe?</v-card-title>

        <v-card-text>Deseja mesmo sair desta Equipe? Esta ação não poderá ser desfeita.</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="leaveTeam = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="teamLeave(), (leaveTeam = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editTeam" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Atualizar Equipe</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field no-resize v-model="team.nome">
                  <div slot="label">Nome</div>
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea no-resize v-model="team.descricao">
                  <div slot="label">Descrição</div>
                </v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="editTeam = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(editTeam = false), attTeam()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="newTwig" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Novo Galho</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field no-resize v-model="twigNew.twig.nome">
                  <div slot="label">Nome</div>
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea no-resize v-model="twigNew.twig.descricao">
                  <div slot="label">Descrição</div>
                </v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newTwig = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newTwig = false), addTwigTeam()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="addMembersTwig" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Adicionar Membros ao Galho</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm8>
                <v-menu offset-y full-width>
                  <v-text-field slot="activator" label="Membro"></v-text-field>
                  <v-list v-if="members.length > 0">
                    <v-list-tile
                      style="margin-bottom:1%;"
                      v-for="member in members"
                      :key="member.id"
                      @click="addMemberTwigList(member)"
                    >
                      <v-container fluid pa-0>
                        <v-layout row wrap>
                          <v-flex sm2>
                            <v-avatar size="32">
                              <v-img
                                :src="
                                  'https://www.gravatar.com/avatar/' +
                                    member.gravatar
                                "
                                alt="avatar"
                              />
                            </v-avatar>
                          </v-flex>
                          <v-flex sm9>
                            <v-container fluid pa-0>
                              <v-layout row wrap>
                                <v-flex>
                                  <span class="subheading font-weight-bold">{{ member.nome }}</span>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-list-tile>
                  </v-list>
                  <v-list v-else>
                    <v-list-tile>Digite para procurar um membro</v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
            </v-layout>
            <v-layout row wrap v-for="item in selecteds.selected" :key="item.id">
              <v-flex sm6>
                <v-container fluid>
                  <v-layout row wrap>
                    <v-flex sm9>
                      <v-container fluid pa-0>
                        <v-layout row wrap>
                          <v-flex>
                            <span class="subheading font-weight-bold">{{ item.nome }}</span>
                          </v-flex>
                        </v-layout>
                        <v-layout>
                          <v-flex>
                            <v-chip
                              v-if="item.niveldeacesso == 5"
                              color="red darken-4"
                              text-color="white"
                            >Owner</v-chip>
                            <v-chip
                              v-if="item.niveldeacesso == 4"
                              color="teal darken-4"
                              text-color="white"
                            >Billing</v-chip>
                            <v-chip
                              v-if="item.niveldeacesso == 3"
                              color="purple darken-4"
                              text-color="white"
                            >Admin</v-chip>
                            <v-chip
                              v-if="item.niveldeacesso == 2"
                              color="yellow darken-4"
                              text-color="white"
                            >Developer</v-chip>
                            <v-chip
                              v-if="item.niveldeacesso == 1"
                              color="grey darken-4"
                              text-color="white"
                            >Guest</v-chip>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="addMembersTwig = false">Fechar</v-btn>
          <v-btn
            color="primary"
            flat
            @click=";(addMembersTwig = false), addMembersToTwigTeam()"
          >Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="removeTwig" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover Galho?</v-card-title>

        <v-card-text>Deseja mesmo remover este Galho? Esta ação não poderá ser desfeita.</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="removeTwig = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="twigRemove(), (removeTwig = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-menu open-on-click top left offset-y nudge-top="10" style="border-radius:14px;">
              <template v-slot:activator="{ on }">
                <v-btn color="indigo darken-2" dark fab v-on="on">
                  <v-icon>dashboard</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-tile @click="editTeam = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>edit</v-icon>Renomear Equipe
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="leaveTeam = true">
                  <v-list-tile-title>
                    <v-container pa-0>
                      <v-layout align-center justify-center row fill-height>
                        <v-flex>
                          <v-icon>exit_to_app</v-icon>Sair da Equipe
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-flex>
          <v-flex shrink>
            <v-speed-dial direction="top" v-model="dial">
              <template v-slot:activator>
                <v-btn color="teal darken-2" dark fab v-model="dial">
                  <v-icon>add</v-icon>
                  <v-icon>close</v-icon>
                </v-btn>
              </template>
              <v-tooltip left>
                <template>
                  <v-btn
                    @click="newMember = true"
                    fab
                    dark
                    small
                    color="pink lighten-2"
                    slot="activator"
                  >
                    <v-icon>share</v-icon>
                  </v-btn>
                </template>
                <span>Adicionar Twig</span>
              </v-tooltip>
              <v-tooltip left>
                <template>
                  <v-btn
                    @click="newTwig = true"
                    fab
                    dark
                    small
                    color="deep-orange lighten-2"
                    slot="activator"
                  >
                    <v-icon>account_circle</v-icon>
                  </v-btn>
                </template>
                <span>Adicionar Membro</span>
              </v-tooltip>
            </v-speed-dial>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'
import { _ } from 'vue-underscore'

const Hashids = require('hashids')

export default {
  name: 'ManageTeam',
  data() {
    return {
      dial: false,
      newMember: false,
      changeLevel: false,
      leaderPass: false,
      removeMember: false,
      leaveTeam: false,
      newTwig: false,
      removeTwig: false,
      editTeam: false,
      addMembersTwig: false,
      model: '',
      selected: '',
      idUsuario: '',
      search: '',
      selecteds: {
        twig: '',
        selected: []
      },
      closed: false,
      show: false,
      data: [],
      cargos: [
        { cargo: 'Owner', level: '5' },
        { cargo: 'Billing', level: '4' },
        { cargo: 'Admin', level: '3' },
        { cargo: 'Developer', level: '2' },
        { cargo: 'Guest', level: '1' }
      ],
      memberNew: {
        id: '',
        idUsuario: '',
        nivel: ''
      },
      editMember: {
        id: '',
        idUsuario: '',
        nivel: ''
      },
      memberSelect: {
        equipe: '',
        membro: ''
      },
      twigNew: {
        equipe: '',
        twig: {
          nome: '',
          descricao: ''
        }
      },
      twigSelect: {
        id: '',
        equipe: ''
      },
      membros: [],
      twigForMembers: ''
    }
  },

  computed: {
    ...mapGetters({
      team: 'teams/team',
      user: 'user/user',
      members: 'teams/members',
      twigsEquipe: 'twig/twigsEquipe',
      stepperTwigEquipe: 'steppers/stepperTwigEquipe',
      logs: 'logs/logs'
    })
  },

  methods: {
    backToTeams() {
      this.$router.push(`/equipes`)
    },
    inputDebounce: _.debounce(function() {
      this.searchUser(this.search)
    }, 500),

    async searchUser(val) {
      try {
        let res = await this.$services.user.buscarUsuarioNomeEmail(
          val,
          this.$cookies.get('USERTOKEN')
        )
        res = this.process(res)
        this.data = res.data
      } catch (erro) {
        this.$alert('Erro!', erro, 'danger')
      }
    },
    selectItem(item) {
      this.selected = item
      this.idUsuario = item.id
      this.search = ''
      this.closed = false
      this.show = true
    },

    keyup() {
      if (this.search !== '') {
        this.data = []
        this.closed = true
        this.selected = {}
        this.inputDebounce()
      }
    },

    process(data) {
      if (data instanceof Object) {
        if (data.cod >= 400 || data.status >= 400) throw data
        return data
      } else throw 'The returned data must be an object type'
    },

    addMember() {
      this.memberNew.id = this.team.id
      this.memberNew.idUsuario = this.selected.id
      this.$store.dispatch('teams/addMember', this.memberNew)
      this.memberNew = {
        id: '',
        idUsuario: '',
        nivel: ''
      }
    },
    levelChange() {
      this.editMember.id = this.team.id
      this.$store.dispatch('teams/alterarNivelMembro', this.editMember)
      this.editMember = {
        id: '',
        idUsuario: '',
        nivel: ''
      }
    },
    passLeader() {
      this.memberSelect.equipe = this.team.id
      this.$store.dispatch('teams/passarLideranca', this.memberSelect)
      this.memberSelect = {
        equipe: '',
        membro: ''
      }
    },
    memberRemove() {
      this.memberSelect.equipe = this.team.id
      this.$store.dispatch('teams/removeMember', this.memberSelect)
      this.memberSelect = {
        equipe: '',
        membro: ''
      }
    },
    teamLeave() {
      this.memberSelect.equipe = this.team.id
      this.$store.dispatch('teams/leaveTeam', this.memberSelect)
    },
    attTeam() {
      this.$store.dispatch('teams/editTeam', this.team)
    },
    addTwigTeam() {
      this.twigNew.equipe = this.team.id
      this.$store.dispatch('twig/newTeamTwig', this.twigNew)
      this.twigNew = {
        twig: {
          nome: '',
          descricao: ''
        },
        equipe: ''
      }
    },
    twigRemove() {
      this.twigSelect.equipe = this.team.id
      this.$store.dispatch('twig/delTwigTeam', this.twigSelect)
      this.twigSelect = {
        id: '',
        equipe: ''
      }
    },
    addMemberTwigList(item) {
      if (!this.verifyIfExists(item, this.selecteds.selected))
        this.selecteds.selected.push(item)
    },
    verifyIfExists(needle, hystack) {
      var length = hystack.length
      for (var i = 0; i < length; i++) {
        if (hystack[i] == needle) return true
      }
      return false
    },
    addMembersToTwigTeam() {
      this.$store.dispatch('twig/addMultipleMembersTwig', this.selecteds)
    },
    manageTwig(twig) {
      let idNew = this.Hashids.encode(twig.id)
      this.$router.push(`/twig/${idNew}`)
    }
  },

  watch: {
    team(val) {
      if (val.id > 0) {
        this.$store.dispatch('teams/getMembers', this.team.id)
        this.$store.dispatch('twig/getTwigsEquipe', this.team.id)
        this.$store.dispatch('logs/listarLogsEquipe', this.team.id)
      }
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()

    let plaintext = this.Hashids.decode(this.$route.params.equipe)

    this.$store.dispatch('teams/getTeam', plaintext)

    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
