<template>
  <div class="meuperfil">
    <v-container fluid grid-list-md>
      <v-layout row wrap align-center>
        <v-flex xs1 offset-xs1>
          <v-avatar size="80px">
            <v-img
              :src="'https://www.gravatar.com/avatar/' + user.gravatar + '?d=mp'"
              alt="avatar"
            />
          </v-avatar>
        </v-flex>
        <v-flex sm5 md3>
          <v-container fluid grid-list-md>
            <v-layout row wrap align-center>
              <v-flex xs12>
                <strong class="display-1 primary--text">{{ user.nome }}</strong>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex xs6>
          <v-container fluid grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <span class="title primary--text">Dados Pessoais</span>
                <v-divider></v-divider>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12>
                <v-container fluid>
                  <v-layout row wrap mt-4>
                    <v-flex sm3>
                      <span class="subheading font-weight-medium">Email</span>
                    </v-flex>
                    <v-flex sm8>
                      <span class="subheading">{{ user.email }}</span>
                    </v-flex>
                    <v-flex sm1>
                      <v-btn flat icon style="margin:0;">
                        <v-icon @click="attEmail = true">create</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                  <v-layout row wrap mt-4>
                    <v-flex sm3>
                      <span class="subheading font-weight-medium">Nome</span>
                    </v-flex>
                    <v-flex sm8>
                      <span class="subheading">{{ user.nome }}</span>
                    </v-flex>
                    <v-flex sm1>
                      <v-btn flat icon style="margin:0;">
                        <v-icon @click="attNome = true">create</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                  <v-layout row wrap mt-4>
                    <v-flex sm3>
                      <span class="subheading font-weight-medium">RG</span>
                    </v-flex>
                    <v-flex sm8>
                      <span class="subheading">******{{ user.rg.substring(6) }}</span>
                    </v-flex>
                    <v-flex sm1>
                      <v-btn flat icon style="margin:0;">
                        <v-icon @click="attRG = true">create</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                  <v-layout row wrap mt-4>
                    <v-flex sm3>
                      <span class="subheading font-weight-medium">CPF</span>
                    </v-flex>
                    <v-flex sm8>
                      <span class="subheading">*********{{ user.cpf.substring(9) }}</span>
                    </v-flex>
                    <v-flex sm1>
                      <v-btn flat icon style="margin:0;">
                        <v-icon @click="attCPF = true">create</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs6>
          <v-container fluid grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <span class="title primary--text">Segurança</span>
                <v-divider></v-divider>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12>
                <v-container fluid>
                  <v-layout row wrap mt-4>
                    <v-flex sm3>
                      <span class="subheading font-weight-medium">Senha</span>
                    </v-flex>
                    <v-flex sm8>
                      <span class="subheading">***********</span>
                    </v-flex>
                    <v-flex sm1>
                      <v-btn flat icon style="margin:0;">
                        <v-icon @click="attPassword = true">create</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialogs --->
    <v-dialog v-model="attEmail" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Alterar Email</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="user.email" label="Novo Email" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="attEmail = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(attEmail = false), attUser()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attNome" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Alterar Nome</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="user.nome" label="Novo Nome" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="attNome = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(attNome = false), attUser()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attRG" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Alterar RG</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="user.rg" label="Novo RG" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="attRG = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(attRG = false), attUser()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attCPF" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Alterar CPF</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="user.cpf" label="Novo CPF" required :mask="'###.###.###-##'"></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="attCPF = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(attCPF = false), attUser()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attPassword" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Alterar Senha</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  :append-icon="show1 ? 'visibility_off' : 'visibility'"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show1 = !show1"
                  v-model="password.antigo"
                  label="Senha Antiga"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  :append-icon="show2 ? 'visibility_off' : 'visibility'"
                  :type="show2 ? 'text' : 'password'"
                  @click:append="show2 = !show2"
                  v-model="password.novo"
                  label="Nova Senha"
                  required
                  @keyup="medir"
                ></v-text-field>
                <v-progress-linear slot="progress" :value="progress" height="7" color="primary"></v-progress-linear>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn
            @click=";(attPassword = false), (forgotPassword = true)"
            flat
            color="priumary"
          >Esqueci a Senha</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="attPassword = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(attPassword = false), alterPass()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="forgotPassword" max-width="400">
      <v-card>
        <v-card-title class="headline">Esqueceu sua Senha?</v-card-title>

        <v-card-text>
          Se você esqueceu sua senha, aperte em confirmar abaixo. Ao confirmar
          iremos lhe enviar um email de recuperação de senha. Caso não tenha
          esquecido, basta apertar em cancelar.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="forgotPassword = false">Cancelar</v-btn>

          <v-btn color="green darken-1" flat="flat" @click="forgotPassword = false">Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'MeuPerfil',
  data() {
    return {
      attEmail: false,
      attNome: false,
      attRG: false,
      attCPF: false,
      attPassword: false,
      forgotPassword: false,
      password: {
        novo: '',
        antigo: ''
      },
      strength: '',
      show1: false,
      show2: false
    }
  },

  computed: {
    ...mapGetters({
      user: 'user/user'
    }),
    progress() {
      return Math.min(100, this.strength * 25)
    }
  },

  methods: {
    attUser() {
      this.$store.dispatch('user/atualizarMyUser', this.user)
    },
    medir() {
      var zxcvbn = require('zxcvbn')
      let f = zxcvbn(this.password.novo)

      this.strength = f.score
    },
    alterPass() {
      this.$store.dispatch('user/alterarSenha', this.password)
    }
  },

  beforeMount() {
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
