<template>
  <div class="financeiro">
    <v-container fluid grid-list-md>
      <v-layout align-start justify-center row fill-height>
        <v-flex sm12>
          <v-container fluid>
            <v-layout align-start justify-start row fill-height>
              <v-flex sm10>
                <span class="title primary--text">Tickets</span>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-container>
          <v-container fluid grid-list-md>
            <v-data-table
              :headers="headers"
              :items="tickets"
              item-key="name"
              :pagination.sync="pagination"
            >
              <template slot="items" slot-scope="props">
                <td class="font-weight-black">#{{ props.item.id }}</td>
                <td class="font-weight-medium">{{ props.item.data | moment('from') }}</td>
                <td class="font-weight-medium">
                  <v-chip color="orange" text-color="white" v-show="props.item.setor == 'tecnico'">
                    <v-avatar>
                      <v-icon>build</v-icon>
                    </v-avatar>Técnico
                  </v-chip>
                  <v-chip
                    color="indigo"
                    text-color="white"
                    v-show="props.item.setor == 'comercial'"
                  >
                    <v-avatar>
                      <v-icon>face</v-icon>
                    </v-avatar>Comercial
                  </v-chip>
                  <v-chip
                    color="green darken-2"
                    text-color="white"
                    v-show="props.item.setor == 'financeiro'"
                  >
                    <v-avatar>
                      <v-icon>monetization_on</v-icon>
                    </v-avatar>Financeiro
                  </v-chip>
                </td>
                <td>
                  <v-chip color="teal" text-color="white" v-show="props.item.status == 'Aberto'">
                    <v-avatar>
                      <v-icon>check_circle</v-icon>
                    </v-avatar>Aberto
                  </v-chip>
                  <v-chip color="pink" text-color="white" v-show="props.item.status == 'Fechado'">
                    <v-avatar>
                      <v-icon>cancel</v-icon>
                    </v-avatar>Fechado
                  </v-chip>
                </td>
                <td>
                  <v-chip
                    color="primary"
                    text-color="white"
                    v-show="props.item.aguardando"
                  >Aguardando Atendente</v-chip>
                  <v-chip
                    color="primary"
                    text-color="white"
                    v-show="!props.item.aguardando"
                  >Aguardando Cliente</v-chip>
                </td>
                <td>
                  <v-btn flat icon color="indigo" @click="visualizar(props.item)">
                    <v-icon>visibility</v-icon>
                  </v-btn>
                </td>
              </template>
            </v-data-table>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="novoTicket" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Novo Ticket</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-select
                  v-model="newTicket.setor"
                  :items="setores"
                  item-text="setor"
                  item-value="setorValue"
                  label="Setor"
                  single-line
                ></v-select>
              </v-flex>
              <v-flex xs12>
                <v-textarea no-resize v-model="newTicket.mensagem">
                  <div slot="label">Mensagem</div>
                </v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="novoTicket = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(novoTicket = false), addTicket()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn @click="novoTicket = true" color="teal darken-2" dark fab v-on="on">
                  <v-icon>add</v-icon>
                </v-btn>
              </template>
              <span>Adicionar Ticket</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Financeiro',
  data() {
    return {
      novoTicket: false,
      headers: [
        {
          text: 'Identificador',
          value: 'id'
        },
        { text: 'Data', value: 'data' },
        { text: 'Setor', value: 'setor' },
        { text: 'Status', value: 'status' },
        { text: 'Aguardando', value: 'aguardando' },
        { text: 'Visualizar', value: 'visualizar' }
      ],
      pagination: {
        sortBy: 'data',
        descending: true
      },
      newTicket: {
        mensagem: '',
        setor: ''
      },
      setores: [
        { setor: 'Financeiro', setorValue: 'financeiro' },
        { setor: 'Comercial', setorValue: 'comercial' },
        { setor: 'Técnico', setorValue: 'tecnico' }
      ]
    }
  },

  computed: {
    ...mapGetters({
      user: 'user/user',
      tickets: 'tickets/tickets'
    })
  },

  methods: {
    addTicket() {
      this.$store.dispatch('tickets/novoTicket', this.newTicket)
    },
    visualizar(ticket) {
      this.$store.dispatch('tickets/buscarTicket', ticket.id)
      this.$store.dispatch('tabs/setSupTab', 1)
    }
  },

  beforeMount() {
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('tickets/listarTickets')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
