<template>
  <div class="meusconvites">
    <v-container fluid grid-list-md>
      <v-layout align-start justify-center row fill-height>
        <v-flex sm12>
          <v-container fluid>
            <v-layout row wrap>
              <v-flex sm12>
                <span class="primary--text display-1">Convites Recebidos</span>
                <v-divider></v-divider>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex sm12>
                <v-data-table :headers="headers" :items="recievedInvite" class="elevation-1">
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.mensagem }}</td>
                    <td class="text-xs-left">{{ props.item.dataconvite | moment('from') }}</td>
                    <td class="text-xs-left">
                      <v-btn
                        flat
                        icon
                        color="green darken-2"
                        @click="
                        ;(invite.id = props.item.id), (acceptInvite = true)
                      "
                      >
                        <v-icon>thumb_up</v-icon>
                      </v-btn>
                    </td>
                    <td class="text-xs-left">
                      <v-btn
                        flat
                        icon
                        color="red darken-2"
                        @click="
                        ;(invite.id = props.item.id), (refuseInvite = true)
                      "
                      >
                        <v-icon>thumb_down</v-icon>
                      </v-btn>
                    </td>
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout align-start justify-center row fill-height>
        <v-flex sm12>
          <v-container fluid>
            <v-layout row wrap>
              <v-flex sm12>
                <span class="primary--text display-1">Convites Enviados</span>
                <v-divider></v-divider>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container fluid>
            <v-layout row wrap>
              <v-flex sm12>
                <v-data-table :headers="headersSended" :items="sendedInvite" class="elevation-1">
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.mensagem }}</td>
                    <td class="text-xs-left">{{ props.item.dataconvite | moment('from') }}</td>
                    <td class="text-xs-left">
                      <v-btn
                        flat
                        icon
                        color="red darken-2"
                        @click="
                        ;(invite.id = props.item.id), (revokeInvite = true)
                      "
                      >
                        <v-icon>delete</v-icon>
                      </v-btn>
                    </td>
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialogs --->
    <v-dialog v-model="acceptInvite" max-width="400">
      <v-card>
        <v-card-title class="headline">Aceitar Convite?</v-card-title>

        <v-card-text>Deseja mesmo aceitar este Convite?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="acceptInvite = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="inviteAccept(), (acceptInvite = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="refuseInvite" max-width="400">
      <v-card>
        <v-card-title class="headline">Recusar Convite?</v-card-title>

        <v-card-text>Deseja mesmo recusar este Convite?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="refuseInvite = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="inviteRefuse(), (refuseInvite = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="revokeInvite" max-width="400">
      <v-card>
        <v-card-title class="headline">Revogar Convite?</v-card-title>

        <v-card-text>Deseja mesmo revogar este Convite?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="revokeInvite = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="inviteRevoke(), (revokeInvite = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'MeusConvites',
  data() {
    return {
      headers: [
        { text: 'Mensagem', value: 'mensagem' },
        { text: 'Data', value: 'dataconvite' },
        { text: 'Aceitar', value: 'accept', sortable: false },
        { text: 'Recusar', value: 'decline', sortable: false }
      ],
      headersSended: [
        { text: 'Mensagem', value: 'mensagem' },
        { text: 'Data', value: 'dataconvite' },
        { text: 'Revogar', value: 'revoke', sortable: false }
      ],
      acceptInvite: '',
      refuseInvite: '',
      revokeInvite: '',
      invite: {
        id: '',
        answer: ''
      }
    }
  },

  methods: {
    inviteRefuse() {
      this.invite.answer = false
      this.$store.dispatch('convite/answerInvite', this.invite)
    },
    inviteAccept() {
      this.invite.answer = true
      this.$store.dispatch('convite/answerInvite', this.invite)
    },
    inviteRevoke() {
      this.$store.dispatch('convite/removeInvite', this.invite.id)
    }
  },

  computed: {
    ...mapGetters({
      user: 'user/user',
      sendedInvite: 'convite/sendedInvite',
      recievedInvite: 'convite/recievedInvite'
    })
  },

  beforeMount() {
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('convite/getRecievedInvites')
      this.$store.dispatch('convite/getSendedInvites')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
