<template>
  <div class="meuslagos">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex grow></v-flex>
        <v-flex sm4>
          <v-text-field v-model="procurarLago" label="Procurar Lake"></v-text-field>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-if="paginatedItems.length == 0">
      <v-layout align-center justify-center row fill-height>
        <v-flex shrink>
          <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
        </v-flex>
        <v-flex shrink>
          <span class="headline font-weight-bold grey--text text--lighten-1">Nenhum lake encontrado</span>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid grid-list-md v-if="paginatedItems.length > 0">
      <v-layout row wrap>
        <v-flex sm3 v-for="(item, index) in paginatedItems" :key="index">
          <v-card flat class="elevation-5" style="border-radius:7px;">
            <v-card-title class="title primary--text">
              <v-layout align-center justify-center row fill-height>
                <v-flex sm5 class="text-truncate">{{ item.lake.nome }}</v-flex>

                <v-flex sm7>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-progress-linear
                        :height="14"
                        :value="progressfy(item.lake.tamanho, item.lake.limite)"
                        background-color="secondary"
                        background-opacity="0.3"
                        color="primary"
                        v-on="on"
                      ></v-progress-linear>
                    </template>
                    <span>
                      {{ conversor(item.lake.tamanho) }} de
                      {{ conversor(item.lake.limite) }}
                    </span>
                  </v-tooltip>
                </v-flex>
              </v-layout>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-actions>
              <v-container pa-0>
                <v-layout align-center justify-center row fill-height>
                  <v-flex grow>
                    <v-btn flat color="grey" @click="manageLake(item.lake)">Gerenciar</v-btn>
                  </v-flex>
                  <v-flex shrink>
                    <v-btn
                      v-show="item.lake.owner == user.id"
                      flat
                      color="red darker-2"
                      @click=";(delLake = true), (lagoSelecionado = item.lake)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="text-xs-center">
        <v-flex sm12>
          <v-pagination v-if="pages > 1" v-model="current" :length="pages"></v-pagination>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialogs --->
    <v-dialog v-model="newLake" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Novo Lake</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  no-resize
                  v-model="lakeNew.nome"
                  :append-icon="'shuffle'"
                  @click:append="shuffleName"
                  @keyup="lowering"
                >
                  <div slot="label">Nome</div>
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-select
                  v-model="lakeNew.limite"
                  :hint="`${lakeNew.limite.convertido} bytes`"
                  :items="tamanhos"
                  item-text="tamanho"
                  item-value="convertido"
                  label="Limite de Espaço"
                  persistent-hint
                  return-object
                  single-line
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newLake = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newLake = false), addLake()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delLake" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover este Lago?</v-card-title>

        <v-card-text>
          Deseja mesmo remover este Lago? Todos os arquivos serão excluidos,
          esta ação não poderá ser desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="delLake = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteLake(), (delLake = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn @click="newLake = true" color="teal darken-2" dark fab v-on="on">
                  <v-icon>add</v-icon>
                </v-btn>
              </template>
              <span>Adicionar Lake</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'

const Hashids = require('hashids')

export default {
  name: 'MeusLagos',
  data() {
    return {
      newLake: false,
      delLake: false,
      procurarLago: '',
      current: 1,
      perPage: 9,
      pages: '',
      content: '',
      lakeNew: {
        nome: '',
        limite: ''
      },
      lagoSelecionado: {},
      tamanhos: [
        { tamanho: '100 MB', convertido: '104857600' },
        { tamanho: '300 MB', convertido: '314572800' },
        { tamanho: '500 MB', convertido: '524288000' },
        { tamanho: '1 GB', convertido: '1073741824' },
        { tamanho: '10 GB', convertido: '10737418240' },
        { tamanho: '50 GB', convertido: '53687091200' },
        { tamanho: '100 GB', convertido: '107374182400' },
        { tamanho: '300 GB', convertido: '322122547200' },
        { tamanho: '500 GB', convertido: '536870912000' },
        { tamanho: '1 TB', convertido: '1099511627776' },
        { tamanho: '2 TB', convertido: '2199023255552' },
        { tamanho: '3 TB', convertido: '3298534883328' },
        { tamanho: '4 TB', convertido: '4398046511104' },
        { tamanho: '5 TB', convertido: '5497558138880' },
        { tamanho: '6 TB', convertido: '6597069766656' },
        { tamanho: '7 TB', convertido: '7696581394432' },
        { tamanho: '8 TB', convertido: '8796093022208' },
        { tamanho: '9 TB', convertido: '9895604649984' },
        { tamanho: '10 TB', convertido: '10995116277760' }
      ]
    }
  },

  computed: {
    total() {
      return this.lakes.length
    },
    paginatedItems() {
      let lagosFiltro = this.lakes
      let page_number = this.current - 1

      if (this.procurarLago) {
        lagosFiltro = this.lakes.filter(
          m => m.lake.nome.toLowerCase().indexOf(this.procurarLago) > -1
        )
      }

      return lagosFiltro.slice(
        page_number * this.perPage,
        (page_number + 1) * this.perPage
      )
    },
    ...mapGetters({
      lakes: 'lake/lakes',
      user: 'user/user'
    })
  },

  methods: {
    addLake() {
      this.lakeNew.limite = this.lakeNew.limite.convertido
      this.$store.dispatch('lake/newUserLake', this.lakeNew)
      this.lakeNew = {
        nome: '',
        limite: ''
      }
    },
    deleteLake() {
      this.$store.dispatch('lake/deleteLake', this.lagoSelecionado.id)
      this.lagoSelecionado = {}
    },
    manageLake(lake) {
      let idNew = this.Hashids.encode(lake.id)
      this.$router.push(`/lake/${idNew}`)
    },
    conversor(bytes, decimals) {
      if (bytes == 0) return '0 Bytes'
      var k = 1024,
        dm = decimals <= 0 ? 0 : decimals || 2,
        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k))
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
    },
    shuffleName() {
      var generate = require('project-name-generator')

      let a = generate({ number: true }).dashed

      this.lakeNew.nome = a
    },
    progressfy(tamanho, limite) {
      let a = tamanho / limite
      let p = a * 100
      return p
    },
    lowering() {
      this.lakeNew.nome = this.lakeNew.nome
        .toLowerCase()
        .replace(/[^a-zA-Z0-9]/g, '-')
    }
  },

  watch: {
    lakes(val) {
      let a = val.length / this.perPage
      if (a >= 1) this.pages = a
      else this.pages = 1
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('lake/getLakesUser')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
