<template>
  <div class="meusgalhos">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex grow></v-flex>
        <v-flex sm4>
          <v-text-field v-model="procurarGalho" label="Procurar Twig"></v-text-field>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-if="paginatedItems.length == 0">
      <v-layout align-center justify-center row fill-height>
        <v-flex shrink>
          <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
        </v-flex>
        <v-flex shrink>
          <span class="headline font-weight-bold grey--text text--lighten-1">Nenhum twig encontrado</span>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid grid-list-md v-if="paginatedItems.length > 0">
      <v-layout row wrap>
        <v-flex sm4 v-for="(item, index) in paginatedItems" :key="index">
          <v-card flat class="elevation-5" style="border-radius:7px;">
            <v-card-title class="title primary--text">
              {{
              item.nome
              }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex sm12>
                    <span class="subheading font-weight-medium">Financeiro</span>
                    -
                    <span class="subheading font-weight-medium">
                      {{
                      item.financeiro.nome
                      }}
                    </span>
                  </v-flex>
                  <v-flex sm12>
                    <span class="subheading" v-html="item.descricao"></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-container pa-0>
                <v-layout align-center justify-center row fill-height>
                  <v-flex grow>
                    <v-btn flat color="grey" @click="manageTwig(item)">Gerenciar</v-btn>
                  </v-flex>
                  <v-flex shrink>
                    <v-btn
                      v-show="item.financeiro.id == user.id"
                      flat
                      color="red darker-2"
                      @click=";(delTwig = true), (galhoSelecionado = item)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="text-xs-center">
        <v-flex sm12>
          <v-pagination v-if="pages > 1" v-model="current" :length="pages"></v-pagination>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialogs --->
    <v-dialog v-model="newTwig" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Novo Twig</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field no-resize v-model="twigNew.nome">
                  <div slot="label">Nome</div>
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea no-resize v-model="twigNew.descricao">
                  <div slot="label">Descrição</div>
                </v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newTwig = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newTwig = false), addTwig()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delTwig" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover este Galho?</v-card-title>

        <v-card-text>Deseja mesmo remover este Galho? Esta ação não poderá ser desfeita.</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="delTwig = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteTwig(), (delTwig = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-btn @click="newTwig = true" color="teal darken-2" dark fab>
              <v-icon>add</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'

const Hashids = require('hashids')

export default {
  name: 'MeusGalhos',
  data() {
    return {
      newTwig: false,
      delTwig: false,
      procurarGalho: '',
      current: 1,
      perPage: 6,
      pages: '',
      content: '',
      twigNew: {
        nome: '',
        descricao: ''
      },
      galhoSelecionado: {}
    }
  },

  computed: {
    total() {
      return this.twigs.length
    },
    paginatedItems() {
      let galhosFiltro = this.twigs
      let page_number = this.current - 1

      if (this.procurarGalho) {
        galhosFiltro = this.twigs.filter(
          m => m.nome.toLowerCase().indexOf(this.procurarGalho) > -1
        )
      }

      return galhosFiltro.slice(
        page_number * this.perPage,
        (page_number + 1) * this.perPage
      )
    },
    ...mapGetters({
      twigs: 'twig/twigs',
      user: 'user/user'
    })
  },

  methods: {
    addTwig() {
      this.$store.dispatch('twig/newTwig', this.twigNew)
      this.twigNew = {
        nome: '',
        descricao: ''
      }
    },
    deleteTwig() {
      this.$store.dispatch('twig/delTwig', this.galhoSelecionado.id)
      this.galhoSelecionado = {}
    },
    manageTwig(twig) {
      let idNew = this.Hashids.encode(twig.id)
      this.$router.push(`/twig/${idNew}`)
    }
  },

  watch: {
    twigs(val) {
      let a = val.length / this.perPage
      if (a >= 1) this.pages = a
      else this.pages = 1
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('twig/getTwigs')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
