<template>
  <div class="minhasequipes">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex></v-flex>
        <v-flex sm4>
          <v-text-field v-model="procurarEquipe" label="Procurar Equipe"></v-text-field>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-if="paginatedItems.length == 0">
      <v-layout align-center justify-center row fill-height>
        <v-flex shrink>
          <v-icon color="grey lighten-1" x-large>error_outline</v-icon>
        </v-flex>
        <v-flex shrink>
          <span
            class="headline font-weight-bold grey--text text--lighten-1"
          >Nenhuma equipe encontrada</span>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid grid-list-md v-if="paginatedItems.length > 0">
      <v-layout row wrap>
        <v-flex sm4 v-for="(item, index) in paginatedItems" :key="index">
          <v-card flat class="elevation-5" style="border-radius:7px;">
            <v-card-title class="title primary--text">{{ item.nome }}</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex sm12>
                    <span class="subheading font-weight-medium">Lider</span>
                    -
                    <span
                      class="subheading font-weight-medium"
                    >{{ item.lider.nome }}</span>
                  </v-flex>
                  <v-flex sm12>
                    <span class="subheading" v-html="item.descricao"></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-container pa-0>
                <v-layout align-center justify-center row fill-height>
                  <v-flex grow>
                    <v-btn flat color="grey" @click="manageTeam(item)">Gerenciar</v-btn>
                  </v-flex>
                  <v-flex shrink>
                    <v-btn
                      v-show="item.lider.id == user.id"
                      flat
                      color="red darker-2"
                      @click=";(delTeam = true), (equipeSelecionada = item)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="text-xs-center">
        <v-flex sm12>
          <v-pagination v-if="pages > 1" v-model="current" :length="pages"></v-pagination>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialogs --->
    <v-dialog v-model="newTeam" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Nova Equipe</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field no-resize v-model="teamNew.nome">
                  <div slot="label">Nome</div>
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea no-resize v-model="teamNew.descricao">
                  <div slot="label">Descrição</div>
                </v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newTeam = false">Fechar</v-btn>
          <v-btn color="primary" flat @click=";(newTeam = false), addTeam()">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delTeam" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover esta Equipe?</v-card-title>

        <v-card-text>
          Deseja mesmo remover esta Equipe? Esta ação não poderá ser
          desfeita.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="delTeam = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteTeam(), (delTeam = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="absoluter">
      <v-container>
        <v-layout align-end justify-end row fill-height>
          <v-flex shrink>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn @click="newTeam = true" color="teal darken-2" dark fab v-on="on">
                  <v-icon>add</v-icon>
                </v-btn>
              </template>
              <span>Adicionar Equipe</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.absoluter {
  position: fixed;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: auto;
}
</style>

<script>
import { mapGetters } from 'vuex'

const Hashids = require('hashids')

export default {
  name: 'MinhasEquipes',
  data() {
    return {
      newTeam: false,
      delTeam: false,
      procurarEquipe: '',
      current: 1,
      perPage: 6,
      pages: '',
      content: '',
      teamNew: {
        nome: '',
        descricao: ''
      },
      equipeSelecionada: {}
    }
  },

  computed: {
    total() {
      return this.teams.length
    },
    paginatedItems() {
      let equipesFiltro = this.teams
      let page_number = this.current - 1

      if (this.procurarEquipe) {
        equipesFiltro = this.teams.filter(
          m => m.equipe.nome.toLowerCase().indexOf(this.procurarEquipe) > -1
        )
      }

      return equipesFiltro.slice(
        page_number * this.perPage,
        (page_number + 1) * this.perPage
      )
    },
    ...mapGetters({
      teams: 'teams/teams',
      user: 'user/user'
    })
  },

  methods: {
    addTeam() {
      this.$store.dispatch('teams/newTeam', this.teamNew)
      this.teamNew = {
        nome: '',
        descricao: ''
      }
    },
    deleteTeam() {
      this.$store.dispatch('teams/delTeam', this.equipeSelecionada.id)
      this.equipeSelecionada = {}
    },
    manageTeam(team) {
      let idNew = this.Hashids.encode(team.id)
      this.$router.push(`/equipe/${idNew}`)
    }
  },

  watch: {
    teams(val) {
      let a = val.length / this.perPage
      if (a >= 1) this.pages = a
      else this.pages = 1
    }
  },

  beforeMount() {
    this.Hashids = new Hashids.default()
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('teams/getTeams')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
