<template>
  <div class="gerenciarpostgre">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm6 class="text-truncate">
          <v-breadcrumbs divider="/" large>
            <v-breadcrumbs-item class="title" @click="backToTwigs()"
              >Meus Galhos</v-breadcrumbs-item
            >
            <v-breadcrumbs-item class="title" @click="backToTwig()">
              {{ twig.nome }}
            </v-breadcrumbs-item>
            <v-breadcrumbs-item disabled class="title">
              {{ postgre.nomeDb }}
            </v-breadcrumbs-item>
          </v-breadcrumbs>
        </v-flex>
        <v-flex sm4>
          <v-btn flat large @click="deletePostgre = true" color="red darken-2"
            >Deletar Postgre</v-btn
          >
        </v-flex>
        <v-flex sm2>
          <v-btn flat large @click="backToTwig()">Voltar</v-btn>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex sm12>
          <v-container fluid>
            <v-layout row wrap>
              <v-flex sm6>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex sm12>
                      <span class="title primary--text">Informações</span>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex
                      sm6
                      class="subheading primary--text font-weight-medium"
                      >{{ postgre.nomeDb }}</v-flex
                    >
                    <v-flex sm6>
                      <span
                        v-show="postgre.ativo"
                        class="subheading green--text text--darken-2 font-weight-bold"
                        >Ativo</span
                      >
                      <span
                        v-show="!postgre.ativo"
                        class="subheading red--text text--darken-2 font-weight-bold"
                        >Inativo</span
                      >
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium">Plano</span>
                    </v-flex>
                    <v-flex sm6>
                      <span class="subheading font-weight-bold">
                        {{ postgre.plano }}
                      </span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm6>
                      <span class="subheading font-weight-medium"
                        >Nome da Role</span
                      >
                    </v-flex>
                    <v-flex sm6>
                      <span class="subheading font-weight-bold">
                        {{ postgre.nomeRole }}
                      </span>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex sm12>
                      <span class="subheading font-weight-bold">
                        <v-text-field
                          label="Senha"
                          :append-icon="show ? 'visibility_off' : 'visibility'"
                          :type="show ? 'text' : 'password'"
                          readonly
                          class="input-group--focused"
                          @click:append="show = !show"
                          v-model="postgre.senhaRole"
                          :append-outer-icon="'file_copy'"
                        ></v-text-field>
                      </span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
              <v-flex sm6>
                <v-container fluid>
                  <v-layout row wrap align-center>
                    <v-flex sm12>
                      <span class="title primary--text"
                        >Painel de Controle</span
                      >
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                </v-container>
                <v-container fluid>
                  <v-layout>
                    <v-flex sm6>
                      <v-btn flat color="orange darken-2" @click="planChange()"
                        >Alterar Plano</v-btn
                      >
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="changePlan" max-width="400">
      <v-card>
        <v-card-title class="headline">Mudança de Plano</v-card-title>

        <v-card-text>
          <v-select
            :items="postgresPlans"
            item-text="nomePlano"
            item-value="codPlano"
            label="Plano"
            v-model="payload.plano"
          ></v-select>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="changePlan = false"
            >Cancelar</v-btn
          >

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="changingPlan(), (changePlan = false)"
            >Confirmar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deletePostgre" max-width="400">
      <v-card>
        <v-card-title class="headline"
          >Deseja remover este Postgre?</v-card-title
        >

        <v-card-text>Deseja mesmo remover este Postgre?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="deletePostgre = false"
            >Cancelar</v-btn
          >

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteAddon(), (deletePostgre = false)"
            >Confirmar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'GerenciarPostgre',
  data() {
    return {
      show: false,
      changePlan: false,
      deletePostgre: false,
      payload: {
        plano: '',
        addon: '',
        twig: ''
      }
    }
  },

  computed: {
    ...mapGetters({
      postgre: 'postgres/postgre',
      twig: 'twig/twig',
      postgresPlans: 'postgresPlan/postgresPlans'
    })
  },

  methods: {
    planChange() {
      this.$store.dispatch('postgresPlan/getPostgresPlans')
      this.changePlan = true
    },
    changingPlan() {
      this.payload.addon = this.postgre.id
      this.$store.dispatch('postgres/alterarPlanoPostgre', this.payload)
      this.payload = {
        plano: '',
        addon: '',
        twig: ''
      }
    },
    deleteAddon() {
      this.payload.twig = this.twig.id
      this.payload.addon = this.postgre.id
      this.$store.dispatch('postgres/deletarAddonPostgre', this.payload)
      this.$store.dispatch('tabs/setTwigTab', 1)
    },
    backToTwigs() {
      this.$store.dispatch('tabs/setTwigTab', 0)
    },
    backToTwig() {
      this.$store.dispatch('tabs/setTwigTab', 1)
    }
  },

  beforeMount() {
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
