<template>
  <div class="telefonesenderecos">
    <v-container fluid grid-list-md fill-height>
      <v-layout row wrap fill-height>
        <v-flex xs7>
          <v-container fluid grid-list-md fill-height>
            <v-layout row wrap fill-height>
              <v-flex xs12>
                <v-layout row wrap>
                  <v-flex sm11>
                    <span class="title primary--text">Endereços</span>
                  </v-flex>
                  <v-flex sm1>
                    <v-btn flat icon style="margin:0;" color="green darker-1">
                      <v-icon @click="newAdress = true">add_circle</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout
                  row
                  wrap
                  mt-4
                  v-for="adress in adresses"
                  :key="adress.id"
                >
                  <v-flex sm6>
                    <span class="subheading">
                      {{ adress.logradouro + ', ' }}
                    </span>
                    <span class="subheading">{{ adress.numero + ', ' }}</span>
                    <span class="subheading">{{ adress.bairro }}</span>
                    <span
                      style="margin-left:1%;margin-right:1%;"
                      class="subheading"
                      >&bull;</span
                    >
                    <span class="subheading">{{ adress.cidade }}</span>
                  </v-flex>
                  <v-flex sm4>
                    <v-btn
                      style="margin:0;"
                      color="green darken-1"
                      class="subheading"
                      v-show="adress.defaulter"
                      flat="flat"
                      @click="forgotPassword = false"
                      >Padrão</v-btn
                    >
                    <v-btn
                      style="margin:0;"
                      class="subheading"
                      v-show="!adress.defaulter"
                      flat="flat"
                      @click="
                        ;(makeDefaultAddress = true),
                          (enderecoSelecionado = adress)
                      "
                      color="primary"
                      >Tornar Padrão</v-btn
                    >
                  </v-flex>
                  <v-flex sm1>
                    <v-btn flat icon style="margin:0;" color="primary">
                      <v-icon
                        @click="
                          ;(attAdress = true), (enderecoSelecionado = adress)
                        "
                        >create</v-icon
                      >
                    </v-btn>
                  </v-flex>
                  <v-flex sm1>
                    <v-btn
                      flat
                      icon
                      style="margin:0;"
                      color="red darken-1"
                      v-show="!adress.defaulter"
                    >
                      <v-icon
                        @click="
                          ;(delAdress = true), (enderecoSelecionado = adress)
                        "
                        >remove_circle</v-icon
                      >
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs5>
          <v-container fluid grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <v-layout row wrap>
                  <v-flex sm11>
                    <span class="title primary--text">Telefones</span>
                  </v-flex>
                  <v-flex sm1>
                    <v-btn flat icon style="margin:0;" color="green darker-1">
                      <v-icon @click="newPhone = true">add_circle</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row wrap mt-4 v-for="phone in phones" :key="phone.id">
                  <v-flex sm4>
                    <span class="subheading">({{ phone.ddd }})</span>
                    <span class="subheading"
                      >{{ phone.numero.substring(0, 5) }} -</span
                    >
                    <span class="subheading">
                      {{ phone.numero.substring(phone.numero.length - 4) }}
                    </span>
                  </v-flex>
                  <v-flex sm6>
                    <v-btn
                      style="margin:0;"
                      color="green darken-1"
                      class="subheading"
                      v-show="phone.defaulter"
                      flat="flat"
                      @click="forgotPassword = false"
                      >Padrão</v-btn
                    >
                    <v-btn
                      style="margin:0;"
                      class="subheading"
                      v-show="!phone.defaulter"
                      flat="flat"
                      @click="
                        ;(makeDefaultPhone = true),
                          (telefoneSelecionado = phone)
                      "
                      color="primary"
                      >Tornar Padrão</v-btn
                    >
                  </v-flex>
                  <v-flex sm1>
                    <v-btn flat icon style="margin:0;" color="primary">
                      <v-icon
                        @click="
                          ;(attPhone = true), (telefoneSelecionado = phone)
                        "
                        >create</v-icon
                      >
                    </v-btn>
                  </v-flex>
                  <v-flex sm1>
                    <v-btn
                      flat
                      icon
                      style="margin:0;"
                      color="red darken-1"
                      v-show="!phone.defaulter"
                    >
                      <v-icon
                        @click="
                          ;(delPhone = true), (telefoneSelecionado = phone)
                        "
                        >remove_circle</v-icon
                      >
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialogs --->
    <v-dialog v-model="makeDefaultPhone" max-width="400">
      <v-card>
        <v-card-title class="headline"
          >Tornar este Telefone padrão?</v-card-title
        >

        <v-card-text>
          Ao tornar este telefone padrão, todas as informações de contato e de
          cobrança usarão este telefone.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            flat="flat"
            @click="makeDefaultPhone = false"
            >Cancelar</v-btn
          >

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="makePhoneDefault(), (makeDefaultPhone = false)"
            >Confirmar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delPhone" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover este Telefone?</v-card-title>

        <v-card-text
          >Deseja mesmo remover este telefone? Esta ação não poderá ser
          desfeita.</v-card-text
        >

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="delPhone = false"
            >Cancelar</v-btn
          >

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deletePhone(), (delPhone = false)"
            >Confirmar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="newPhone" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Novo Telefone</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs4>
                <v-text-field
                  v-model="phoneNew.ddd"
                  label="DDD"
                  required
                  :mask="'(##)'"
                ></v-text-field>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="phoneNew.numero"
                  label="Numero"
                  required
                  :mask="'#####-####'"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newPhone = false"
            >Fechar</v-btn
          >
          <v-btn color="primary" flat @click="addPhone(), (newPhone = false)"
            >Salvar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attPhone" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Atualizar Telefone</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs4>
                <v-text-field
                  v-model="telefoneSelecionado.ddd"
                  label="DDD"
                  required
                  :mask="'(##)'"
                ></v-text-field>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="telefoneSelecionado.numero"
                  label="Numero"
                  required
                  :mask="'#####-####'"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="attPhone = false"
            >Fechar</v-btn
          >
          <v-btn color="primary" flat @click="attuPhone(), (attPhone = false)"
            >Salvar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="makeDefaultAddress" max-width="400">
      <v-card>
        <v-card-title class="headline"
          >Tornar este Endereço padrão?</v-card-title
        >

        <v-card-text>
          Ao tornar este endereço padrão, todas as informações de contato e de
          cobrança usarão este endereço.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            flat="flat"
            @click="makeDefaultAddress = false"
            >Cancelar</v-btn
          >

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="makeAdressDefault(), (makeDefaultAddress = false)"
            >Confirmar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="newAdress" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Novo Endereço</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm6>
                <v-text-field
                  @keyup="searchCep()"
                  v-model="adressNew.cep"
                  label="CEP"
                  required
                  :mask="'#####-###'"
                ></v-text-field>
              </v-flex>
              <v-flex sm6>
                <span v-show="naoLocalizado">* CEP não encontrado</span>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex sm5>
                <v-text-field
                  v-model="adressNew.logradouro"
                  label="Logradouro"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm3>
                <v-text-field
                  v-model="adressNew.numero"
                  label="Numero"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm4>
                <v-text-field
                  v-model="adressNew.complemento"
                  label="Complemento"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex sm5>
                <v-text-field
                  v-model="adressNew.bairro"
                  label="Bairro"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm5>
                <v-text-field
                  v-model="adressNew.cidade"
                  label="Cidade"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  v-model="adressNew.estado"
                  label="Estado"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="newAdress = false"
            >Fechar</v-btn
          >
          <v-btn color="primary" flat @click="addAdress(), (newAdress = false)"
            >Salvar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attAdress" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Atualizar Endereço</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm6>
                <v-text-field
                  @keyup="searchCep()"
                  v-model="enderecoSelecionado.cep"
                  label="CEP"
                  required
                  :mask="'#####-###'"
                ></v-text-field>
              </v-flex>
              <v-flex sm6>
                <span v-show="naoLocalizado">* CEP não encontrado</span>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex sm5>
                <v-text-field
                  v-model="enderecoSelecionado.logradouro"
                  label="Logradouro"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm3>
                <v-text-field
                  v-model="enderecoSelecionado.numero"
                  label="Numero"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm4>
                <v-text-field
                  v-model="enderecoSelecionado.complemento"
                  label="Complemento"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex sm5>
                <v-text-field
                  v-model="enderecoSelecionado.bairro"
                  label="Bairro"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm5>
                <v-text-field
                  v-model="enderecoSelecionado.cidade"
                  label="Cidade"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  v-model="enderecoSelecionado.estado"
                  label="Estado"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="attAdress = false"
            >Fechar</v-btn
          >
          <v-btn color="primary" flat @click="attuAdress(), (attAdress = false)"
            >Salvar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delAdress" max-width="400">
      <v-card>
        <v-card-title class="headline">Remover este Endereço?</v-card-title>

        <v-card-text
          >Deseja mesmo remover este endereço? Esta ação não poderá ser
          desfeita.</v-card-text
        >

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="delAdress = false"
            >Cancelar</v-btn
          >

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteAdress(), (delAdress = false)"
            >Confirmar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TelefonesEnderecos',
  data() {
    return {
      makeDefaultPhone: false,
      newPhone: false,
      attPhone: false,
      delPhone: false,
      makeDefaultAddress: false,
      newAdress: false,
      attAdress: false,
      delAdress: false,
      enderecoSelecionado: {},
      telefoneSelecionado: {},
      phoneNew: {
        ddd: '',
        numero: ''
      },
      adressNew: {
        cep: '',
        cidade: '',
        estado: '',
        pais: 'BRA',
        bairro: '',
        logradouro: '',
        complemento: '',
        numero: ''
      },
      naoLocalizado: false
    }
  },

  computed: {
    ...mapGetters({
      adresses: 'adress/adresses',
      phones: 'phone/phones'
    })
  },

  methods: {
    makePhoneDefault() {
      this.$store.dispatch('phone/defaulterPhone', this.telefoneSelecionado.id)
      this.telefoneSelecionado = {}
    },
    addPhone() {
      this.$store.dispatch('phone/newPhone', this.phoneNew)
      this.phoneNew = {
        ddd: '',
        numero: ''
      }
    },
    attuPhone() {
      this.$store.dispatch('phone/editPhone', this.telefoneSelecionado)
      this.telefoneSelecionado = {}
    },
    deletePhone() {
      this.$store.dispatch('phone/delPhone', this.telefoneSelecionado.id)
      this.telefoneSelecionado = {}
    },
    makeAdressDefault() {
      this.$store.dispatch(
        'adress/defaulterAdress',
        this.enderecoSelecionado.id
      )
      this.enderecoSelecionado = {}
    },
    addAdress() {
      this.$store.dispatch('adress/newAdress', this.adressNew)
      this.adressNew = {
        cep: '',
        cidade: '',
        estado: '',
        pais: 'BRA',
        bairro: '',
        logradouro: '',
        complemento: '',
        numero: ''
      }
    },
    attuAdress() {
      this.$store.dispatch('adress/editAdress', this.enderecoSelecionado)
      this.enderecoSelecionado = {}
    },
    deleteAdress() {
      this.$store.dispatch('adress/delAdress', this.enderecoSelecionado.id)
      this.enderecoSelecionado = {}
    },
    searchCep() {
      if (this.adressNew.cep.length == 8) {
        var buscaCep = require('busca-cep')

        buscaCep(this.adressNew.cep, { sync: false, timeout: 1000 })
          .then(endereco => {
            this.adressNew.cep = endereco.cep
            this.adressNew.logradouro = endereco.logradouro
            this.adressNew.bairro = endereco.bairro
            this.adressNew.cidade = endereco.localidade
            this.adressNew.estado = endereco.uf
          })
          .catch(erro => {
            console.log(
              `Erro: statusCode ${erro.statusCode} e mensagem ${erro.message}`
            )
            this.naoLocalizado = true
          })
      }
    }
  },

  beforeMount() {
    if (window.$cookies.isKey('USERTOKEN')) {
      this.$store.dispatch('adress/getAdresses')
      this.$store.dispatch('phone/getPhones')
    }
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
