<template>
  <div class="financeiro">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm3 class="text-truncate">
          <span class="display-1 primary--text">Ticket - #{{ ticket.id }}</span>
        </v-flex>
        <v-flex sm6>
          <v-btn
            flat
            large
            color="red darken-2"
            @click="closeTicket = true"
            v-show="ticket.status == 'Aberto'"
          >Fechar Ticket</v-btn>
        </v-flex>
        <v-flex sm3>
          <v-btn flat large @click="backToTickets()">Voltar</v-btn>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex sm12>
          <v-card flat>
            <v-card-title primary-title>
              <v-container pa-0>
                <v-layout align-center>
                  <v-flex sm12>
                    <v-container fluid grid-list-md pa-0>
                      <v-layout row wrap align-center>
                        <v-flex sm3>
                          <v-container fluid pa-0>
                            <v-layout row wrap>
                              <v-flex sm3>
                                <v-avatar size="60px">
                                  <v-img
                                    :src="
                                      'https://www.gravatar.com/avatar/' +
                                        ticket.usuario.hashgravatar
                                    "
                                    alt="avatar"
                                  />
                                </v-avatar>
                              </v-flex>
                              <v-flex sm8>
                                <v-layout row wrap>
                                  <v-flex xs12>
                                    <strong class="primary--text title">
                                      {{
                                      ticket.usuario.nome
                                      }}
                                    </strong>
                                  </v-flex>
                                </v-layout>
                                <v-layout row wrap align-center>
                                  <v-flex xs12>
                                    <span
                                      class="grey--text font-weight-bold"
                                    >#{{ ticket.usuario.id }}</span>
                                  </v-flex>
                                </v-layout>
                              </v-flex>
                            </v-layout>
                          </v-container>
                        </v-flex>
                        <v-flex sm8>
                          <v-layout row wrap>
                            <v-flex sm12>
                              <span class="subheading font-weight-medium">{{ ticket.mensagem }}</span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex sm2 offset-sm10>
                              <span class="font-weight-medium">{{ ticket.data | moment('from') }}</span>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout v-for="resposta in respostas" :key="resposta.id">
        <v-flex sm12>
          <v-card flat>
            <v-card-title primary-title>
              <v-container pa-0>
                <v-layout align-center>
                  <v-flex sm12>
                    <v-container fluid grid-list-md pa-0>
                      <v-layout row wrap align-center>
                        <v-flex sm3>
                          <v-container fluid pa-0>
                            <v-layout row wrap>
                              <v-flex sm3>
                                <v-avatar size="60px">
                                  <v-img
                                    :src="
                                      'https://www.gravatar.com/avatar/' +
                                        resposta.usuario.hashgravatar
                                    "
                                    alt="avatar"
                                  />
                                </v-avatar>
                              </v-flex>
                              <v-flex sm8>
                                <v-layout row wrap>
                                  <v-flex xs12>
                                    <strong class="primary--text title">
                                      {{
                                      resposta.usuario.nome
                                      }}
                                    </strong>
                                  </v-flex>
                                </v-layout>
                                <v-layout row wrap align-center>
                                  <v-flex xs12>
                                    <span
                                      class="grey--text font-weight-bold"
                                    >#{{ resposta.usuario.id }}</span>
                                  </v-flex>
                                </v-layout>
                              </v-flex>
                            </v-layout>
                          </v-container>
                        </v-flex>
                        <v-flex sm8>
                          <v-layout row wrap>
                            <v-flex sm12>
                              <span class="subheading font-weight-medium">{{ resposta.mensagem }}</span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex sm2 offset-sm10>
                              <span class="font-weight-medium">{{ resposta.data | moment('from') }}</span>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout v-if="ticket.status != 'Fechado'">
        <v-flex sm12>
          <v-card flat>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex sm12>
                  <v-textarea no-resize v-model="resposta.resposta">
                    <div slot="label">Responder Ticket</div>
                  </v-textarea>
                </v-flex>
                <v-flex sm2 offset-sm10>
                  <v-btn color="primary" flat @click="responderTicket()">Enviar Mensagem</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog v-model="closeTicket" max-width="400">
      <v-card>
        <v-card-title class="headline">Fechar este Ticket?</v-card-title>

        <v-card-text>Deseja mesmo fechar este Ticket?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" flat="flat" @click="closeTicket = false">Cancelar</v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="ticketClose(), (closeTicket = false)"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Financeiro',
  data() {
    return {
      resposta: {
        resposta: '',
        ticket: {}
      },
      closeTicket: false
    }
  },

  computed: {
    ...mapGetters({
      user: 'user/user',
      respostas: 'tickets/respostas',
      ticket: 'tickets/ticket'
    })
  },

  methods: {
    responderTicket() {
      this.resposta.ticket = this.ticket.id
      this.$store.dispatch('tickets/novaResposta', this.resposta)
    },
    backToTickets() {
      this.$store.dispatch('tabs/setSupTab', 0)
    },
    ticketClose() {
      this.$store.dispatch('tickets/fecharTicket', this.ticket.id)
    }
  },

  beforeMount() {
    if (!window.$cookies.isKey('USERTOKEN')) {
      window.location.href = 'http://cloud-site.tree-ny-01.cloudforestdns.com'
    }
  }
}
</script>
